html,
body {
	height: 100%;
}

#bd12 .text {
	background-size: 100% 100%;
}

.bd {
	transition: translate3d 5s;
}

.bd-DHR img,
.bd-DHR div {
	position: absolute;
}

/* 1 */
#DHP-pic_A1 {
	top: 11%;
	right: 10%;
	height: 16%;
}

#DHP-A-01 {
	top: 18%;
	left: 24%;
	height: 63%;
	width: 20%;
}

#DHP-A-02 {
	top: 35%;
	left: 47%;
	height: 55%;
	width: 14%;
}

#DHP-A-03 {
	top: 50%;
	left: 62%;
	height: 47%;
	width: 13%;
}

#DHP-A-04 {
	top: 9%;
	left: 0%;
	height: 61%;
	width: 21%;
}

#DHP-A-05 {
	top: 80%;
	left: 1%;
	height: 13%;
	width: 16%;
}

#DHP-A-06 {
	top: 63%;
	left: 15%;
	height: 25%;
	width: 22%;
	border-radius: 100%;
}

/* 2 */
#DHP-pic_B1 {
	top: 64%;
	left: 4%;
	height: 28%;
}

#DHP-B-01 {
	top: 0%;
	left: 0%;
	height: 53%;
	width: 49%;
}

#DHP-B-02 {
	top: 22%;
	left: 4%;
	height: 21%;
	width: 6%;
}

#DHP-B-03 {
	top: 30%;
	left: 10%;
	height: 14%;
	width: 4%;
}

#DHP-B-04 {
	top: 32%;
	left: 13.6%;
	height: 11%;
	width: 4%;
}

#DHP-B-05 {
	top: 17%;
	left: 39%;
	height: 22%;
	width: 8%;
}

#DHP-B-06 {
	bottom: 0%;
	right: 0%;
	height: 81%;
	width: 51%;
}

#DHP-B-07 {
	top: 43%;
	left: 69%;
	height: 44%;
	width: 28%;
	border-radius: 100% 0 72%;
}

#DHP-B-08 {
	top: 45%;
	left: 72%;
	height: 27%;
	width: 11%;
}

#DHP-B-09 {
	top: 58%;
	left: 51%;
	height: 34%;
	width: 12%;
}

/* 3 */
#DHP-pic_C1 {
	top: 71%;
	left: 3%;
	height: 20%;
}

#DHP-C-01 {
	top: 29%;
	left: 4%;
	height: 28%;
	width: 8.5%;
}

#DHP-C-02 {
	top: 24%;
	left: 12.5%;
	height: 32%;
	width: 7%;
}

#DHP-C-03 {
	top: 4%;
	left: 20%;
	height: 32%;
	width: 12%;
}

#DHP-C-04 {
	top: 28%;
	left: 24%;
	height: 8%;
	width: 10%
}

#DHP-C-05 {
	top: 34%;
	left: 27%;
	height: 5%;
	width: 9%;
}

#DHP-C-06 {
	top: 22%;
	left: 36%;
	height: 16%;
	width: 9%;
}

#DHP-C-07 {
	top: 45%;
	left: 44%;
	height: 39%;
	width: 14%;
}

#DHP-C-08 {
	top: 16%;
	left: 53%;
	height: 31%;
	width: 14%;
}

#DHP-C-09 {
	top: 36%;
	left: 69%;
	height: 32%;
	width: 14%
}

#DHP-C-10 {
	top: 28%;
	left: 83%;
	height: 42%;
	width: 14%;
}

/* 4 */
#DHP-pic_D1 {
	top: 5%;
	right: 7%;
	height: 24%;
}

#DHP-D-01 {
	top: 49%;
	left: 33%;
	height: 35%;
	width: 8%;
}

#DHP-D-02 {
	top: 60%;
	left: 45%;
	height: 26%;
	width: 8%;
}

#DHP-D-03 {
	top: 43%;
	left: 49%;
	height: 11%;
	width: 10%;
}

#DHP-D-04 {
	top: 75%;
	left: 52.5%;
	height: 11%;
	width: 6%;
}

#DHP-D-05 {
	top: 47%;
	left: 66%;
	height: 42%;
	width: 25%;
	border-radius: 100% 0;
}

/* 5 */
#DHP-pic_E1 {
	top: 8%;
	right: 6%;
	height: 20%;
}

#DHP-E-01 {
	top: 7%;
	left: 14%;
	height: 48%;
	width: 14%;
}

#DHP-E-02 {
	top: 25%;
	left: 28%;
	height: 28%;
	width: 8%;
}

#DHP-E-03 {
	top: 27%;
	left: 36%;
	height: 26%;
	width: 8%;
}

#DHP-E-04 {
	top: 40%;
	left: 37%;
	height: 10%;
	width: 4%;
}

#DHP-E-05 {
	top: 54%;
	left: 48%;
	height: 26%;
	width: 12%;
	border-radius: 0 50%;
}

#DHP-E-06 {
	top: 67%;
	left: 55%;
	height: 10%;
	width: 5%;
}

#DHP-E-07 {
	top: 41%;
	left: 60%;
	height: 34%;
	width: 10%;
}

#DHP-E-08 {
	top: 33%;
	left: 70%;
	height: 44%;
	width: 17%;
	border-radius: 100% 100% 0 0;
}

/* 6 */
#DHP-pic_F1 {
	top: 8%;
	right: 16%;
	height: 22%;
}

#DHP-F-01 {
	top: 21%;
	left: 14%;
	height: 36%;
	width: 30%;
}

#DHP-F-02 {
	top: 48%;
	left: 52%;
	height: 39%;
	width: 10%;
}

#DHP-F-03 {
	top: 52%;
	left: 63%;
	height: 31%;
	width: 9%;
}

#DHP-F-04 {
	top: 78%;
	left: 71%;
	height: 13%;
	width: 9%;
}

/* 7 */
#DHP-pic_G1 {
	top: 6%;
	right: 9%;
	height: 22%;
}

#DHP-G-01 {
	top: 3%;
	left: 17%;
	height: 49%;
	width: 12%;
}

#DHP-G-02 {
	top: 21%;
	left: 32%;
	height: 27%;
	width: 6%;
}

#DHP-G-03 {
	top: 26%;
	left: 38%;
	height: 24%;
	width: 7%;
}

#DHP-G-04 {
	top: 48%;
	left: 52%;
	height: 30%;
	width: 9%;
}

#DHP-G-05 {
	top: 59%;
	left: 53%;
	height: 6%;
	width: 6%;
}

#DHP-G-06 {
	top: 65%;
	right: 35%;
	height: 28%;
	width: 11%;
}

#DHP-G-07 {
	top: 38%;
	right: 12%;
	height: 31%;
	width: 12%;
}

#DHP-G-08 {
	top: 58%;
	right: 4%;
	height: 18%;
	width: 8%;
}

/* 8 */
#DHP-pic_H1 {
	top: 8%;
	left: 7%;
	height: 20%;
}

#DHP-H-01 {
	top: 32%;
	left: 16%;
	height: 52%;
	width: 11%;
}

#DHP-H-02 {
	top: 43%;
	left: 24%;
	height: 27%;
	width: 6%;
}

#DHP-H-03 {
	top: 53%;
	left: 30%;
	height: 28%;
	width: 8%;
}

#DHP-H-04 {
	top: 27%;
	left: 47%;
	height: 29%;
	width: 23%;
}

/* 9 */
#DHP-pic_I1 {
	top: 5%;
	right: 9%;
	height: 22%;
}

#DHP-I-01 {
	top: 39%;
	left: 6%;
	height: 9%;
	width: 10%;
}

#DHP-I-02 {
	top: 6%;
	left: 12%;
	height: 37%;
	width: 11%;
	border-radius: 0 0 0 36%
}

#DHP-I-03 {
	top: 19%;
	left: 25%;
	height: 25%;
	width: 6%;
}

#DHP-I-04 {
	top: 29%;
	left: 24%;
	height: 7%;
	width: 3%;
}

#DHP-I-05 {
	top: 22%;
	left: 31%;
	height: 22%;
	width: 7%;
}

#DHP-I-06 {
	top: 32%;
	left: 31%;
	height: 8%;
	width: 4%;
}

#DHP-I-07 {
	top: 67%;
	left: 23%;
	height: 23%;
	width: 8%;
}

#DHP-I-08 {
	top: 45%;
	left: 29%;
	height: 44%;
	width: 12%;
}

#DHP-I-09 {
	top: 66%;
	left: 33%;
	height: 9%;
	width: 8%;
}

#DHP-I-10 {
	top: 60%;
	left: 45%;
	height: 14%;
	width: 5%;
	border-radius: 30%;
}

#DHP-I-11 {
	top: 53%;
	left: 47%;
	height: 27%;
	width: 8%;
}

#DHP-I-12 {
	top: 61%;
	left: 56%;
	height: 23%;
	width: 8%;
}

#DHP-I-13 {
	top: 77%;
	left: 42%;
	height: 12%;
	width: 6%;
}

#DHP-I-14 {
	top: 84%;
	left: 54%;
	height: 8%;
	width: 10%;
}

#DHP-I-15 {
	top: 67%;
	left: 71%;
	height: 9%;
	width: 6%;
}

#DHP-I-16 {
	top: 59%;
	left: 77%;
	height: 18%;
	width: 6%;
}

/* 10 */
#DHP-pic_J1 {
	top: 4%;
	right: 4%;
	height: 22%;
}

#DHP-J-01 {
	top: 24%;
	left: 0;
	height: 73%;
	width: 100%;
}

#DHP-J-02 {
	top: 51%;
	left: 19%;
	height: 30%;
	width: 10%;
}

#DHP-J-03 {
	top: 61%;
	left: 30%;
	height: 34%;
	width: 9%;
}

#DHP-J-04 {
	top: 65%;
	left: 39%;
	height: 11%;
	width: 8%;
}

#DHP-J-05 {
	top: 49%;
	left: 39%;
	height: 30%;
	width: 10%;
}

#DHP-J-06 {
	top: 43%;
	left: 33%;
	height: 12%;
	width: 9%;
}

#DHP-J-07 {
	top: 64%;
	left: 69%;
	height: 9%;
	width: 7%;
}

#DHP-J-08 {
	top: 52%;
	left: 76%;
	height: 22%;
	width: 8%;
}

#DHP-J-09 {
	top: 75%;
	left: 53%;
	height: 9%;
	width: 8%;
}

#DHP-J-10 {
	top: 86%;
	left: 66%;
	height: 11%;
	width: 13%;
}
