body {
	background: url(../../img/page_07.jpg) no-repeat center 0;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	font-family: "TongXin";
}

.content {
	width: 85%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.mui-Gold {
	width: 70%;
	height: 100%;
}

.mui-Gold img {
	width: auto;
	height: 18%;
	margin-top: 5%;
}

.mui-gold-box {
	width: 100%;
	height: 77%;
	text-align: center;
}

.mui-gold-list {
	background: #f18289;
	width: 100%;
}

#trapezium b {
	font-size: 1.375rem;
	font-weight: normal;
	color: #FFFFff;
	text-shadow: 0.125rem 0.125rem #e84f57;
	line-height: 2.1875rem;
}

.mui-gold-list {
	display: inline-block;
	border-radius: 0.3125rem;
}

.mui-gold-list ul {
	height: 75%;
	margin-top: 6%;
	overflow: hidden;

}

.mui-gold-list ul li {
	width: 95.5%;
	background: #FFFF00;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	padding: 0 2%;
	font-size: 0.75rem;

}

.mui-gold-list ul li span,
.mui-my span {
	display: inline-block;
	width: 5%;
	color: #36717c;
	padding: 1% 0;
	text-align: left;
}
.mui-mytast p{
	font-family: "YueYuan";
	font-size: 0.8125rem;
}

.mui-mytast{
	top: 15%;
	height: 70%;
}

.mui-my {
	width: 96%;
	display: flex;
	padding: 0 2%;
	
	align-items: center;
	background: #ef4b54;
	border-bottom-left-radius: 0.3125rem;
	border-bottom-right-radius: 0.3125rem;
}

.mui-my span,
.mui-my span:nth-child(2) {
	color: #FFFFff;

}

.mui-gold-list ul li span:nth-child(2),
.mui-my span:nth-child(2) {
	width: 30%;
	padding-left: 5%;
	text-align: left;
}

.mui-gold-list ul li span:nth-child(3),
.mui-my span:nth-child(3) {
	width: 30%;
	text-align: right;
	color: #fffc00;


}

.mui-gold-list ul li span:nth-child(4),
.mui-my span:nth-child(4) {
	width: 30%;
	text-align: right;
	color: #ffffff;
}

.mui-gold-list ul li:nth-of-type(odd) {
	background: #f1d2d6;
	border-left: #f1d2d6 solid 0.125rem;
}

.mui-gold-list ul li:nth-of-type(even) {
	background: #f38b91;
}

#trapezium {
	margin: auto;
	width: 35%;
	height: 0;
	border-bottom: 20px solid #f18289;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
	z-index: 999;
}

.mui-task {
	width: 30%;
	height: 100%;
	position: relative;
}

.mui-task img {
	width: auto;
	height: 62%;
	position: absolute;
	top: 27%;
	left: 10%;
}