html,
body {
	height: 100%;
}

.bd {
	transition: translate3d 5s;
}

.text {
	background-size: 100% 100%;
}

/* 1 */

#DHR-pic_1 {
	position: absolute;
	top: 58.9%;
	left: 38.9%;
	width: 5%;
	height: 8%;
}

#DHR-pic_2 {
	position: absolute;
	top: 61.7%;
	left: 56.8%;
	width: 7%;
	height: 11%;
}

#DHR-pic_3 {
	position: absolute;
	top: 59%;
	left: 49%;
	width: 6%;
	height: 12%;
}

#DHR-pic_4 {
	position: absolute;
	top: 28%;
	left: 62%;
	width: 20%;
	height: 50%;
}

#DHR-pic_5 {
	position: absolute;
	top: 24%;
	left: 23%;
	width: 20%;
	height: 56%;
}

#DHR-A-01 {
	position: absolute;
	top: 14%;
	left: 0%;
	width: 36%;
	height: 45%;
}

/* 2 */

#DHR-pic_B1 {
	position: absolute;
	top: 45.3%;
	left: 51%;
	width: 10%;
	height: 31%;
}

#DHR-pic_B2 {
	position: absolute;
	top: 28%;
	left: 76%;
	width: 20%;
	height: 52%;
}

#DHR-pic_B3 {
	position: absolute;
	top: 26%;
	left: 56%;
	width: 36%;
	height: 40%;
}

#DHR-B-01 {
	position: absolute;
	top: 54%;
	left: 11%;
	width: 27%;
	height: 22%;
}

#DHR-B-02 {
	position: absolute;
	top: 54%;
	left: 38%;
	width: 7%;
	height: 18%;
}

/* 3 */
#DHR-pic_C1 {
	position: absolute;
	top: 49.5%;
	left: 17.8%;
	width: 15%;
	height: 30%;
}

#DHR-pic_C2 {
	position: absolute;
	top: 41%;
	left: 64%;
	width: 12%;
	height: 37%;
}

#DHR-pic_C3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 36%;
}

#DHR-C-01 {
	position: absolute;
	top: 16%;
	left: 0;
	width: 24%;
	height: 23%;
	border-radius: 0 88%;
}

#DHR-C-02 {
	position: absolute;
	top: 32%;
	left: 36%;
	width: 5%;
	height: 11%;
}

#DHR-C-03 {
	position: absolute;
	top: 32%;
	left: 58%;
	width: 18%;
	height: 16%;
	border-radius: 0 0 100%;
}

#DHR-C-04 {
	position: absolute;
	top: 38%;
	left: 91%;
	width: 9%;
	height: 28%;
}

/* 4 */

#DHR-pic_D1 {
	top: 0%;
	left: 2%;
	width: 27.2%;
	height: 40%;
	position: absolute;
}

#DHR-pic_D2 {
	position: absolute;
	top: 35%;
	left: 80%;
	width: 15%;
	height: 40%;
}

#DHR-pic_D3 {
	position: absolute;
	top: 24%;
	left: 60.8%;
	width: 24%;
	height: 50%;
}

#DHR-pic_D4 {
	position: absolute;
	top: 28%;
	left: 25.5%;
	width: 12%;
	height: 28%;
}

#DHR-D-01 {
	position: absolute;
	top: 33%;
	left: 13%;
	width: 32%;
	height: 31%;
}


/* 5 */

#DHR-pic_E1 {
	position: absolute;
	top: 0%;
	left: 10%;
	width: 30%;
	height: 46%;
}

#DHR-pic_E2 {
	position: absolute;
	top: 37%;
	left: 74%;
	width: 14%;
	height: 36%;
}

#DHR-pic_E3 {
	position: absolute;
	top: 22%;
	left: 74.6%;
	width: 25.3%;
	height: 50.6%;
}

#DHR-pic_E4 {
	position: absolute;
	top: 29%;
	left: 55%;
	width: 19%;
	height: 42%;
}

#DHR-pic_E5 {
	position: absolute;
	top: 41%;
	left: 38%;
	width: 16%;
	height: 39%;
}

#DHR-E-01 {
	position: absolute;
	bottom: 17%;
	left: 0;
	width: 43%;
	height: 40%;
	border-radius: 0 82% 0 0;
}

#DHR-E-02 {
	position: absolute;
	bottom: 17%;
	right: 0;
	width: 47%;
	height: 16%;
}

#DHR-E-03 {
	position: absolute;
	top: 24%;
	left: 16%;
	width: 39%;
	height: 22%;
	border-radius: 100% 0;
}

/* 6 */

#DHR-pic_F1 {
	position: absolute;
	top: 20%;
	left: 14%;
	width: 26%;
	height: 49%
}

#DHR-pic_F2 {
	position: absolute;
	top: 42%;
	left: 29%;
	width: 25%;
	height: 31%;
}

#DHR-pic_F3 {
	position: absolute;
	top: 35%;
	left: 63%;
	width: 18%;
	height: 32%;
}

#DHR-pic_F4 {
	position: absolute;
	top: 40%;
	left: 44%;
	width: 16%;
	height: 37%;
}

#DHR-pic_F5 {
	position: absolute;
	top: 0;
	left: 39%;
	width: 30%;
	height: 34%;
}

#DHR-pic_F6 {
	position: absolute;
	top: 57%;
	left: 21%;
	width: 11%;
	height: 16%;
}

#DHR-pic_F7 {
	position: absolute;
	top: 17%;
	left: 69%;
	width: 12%;
	height: 15%;
}

#DHR-pic_F8 {
	position: absolute;
	top: 30%;
	left: 56%;
	width: 10%;
	height: 12%;
}

#DHR-pic_F9 {
	position: absolute;
	top: 27%;
	left: 38%;
	width: 10%;
	height: 16%;
}

#DHR-pic_F10 {
	position: absolute;
	top: 14%;
	left: 32%;
	width: 6%;
	height: 8%;
}

#DHR-pic_F11 {
	position: absolute;
	top: 11%;
	left: 4%;
	width: 10%;
	height: 20%;
}

#DHR-pic_F12 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 83%;
}

#DHR-F-01 {
	position: absolute;
	top: 21%;
	left: 13%;
	width: 24%;
	height: 34%;
}

#DHR-F-02 {
	position: absolute;
	top: 43%;
	left: 30%;
	width: 17%;
	height: 16%;
}

#DHR-F-03 {
	position: absolute;
	top: 40%;
	left: 46%;
	width: 9%;
	height: 31%;
}

#DHR-F-04 {
	position: absolute;
	top: 36%;
	left: 64%;
	width: 16%;
	height: 27%;
}

/* 7 */

#DHR-pic_G1 {
	position: absolute;
	bottom: 17%;
	left: 0;
	width: 100%;
	height: 34%;
}

#DHR-pic_G2 {
	position: absolute;
	top: 0%;
	left: 68%;
	width: 23%;
	height: 35%;
}

#DHR-pic_G3 {
	position: absolute;
	top: 12%;
	left: 6%;
	width: 23%;
	height: 40%;
}

#DHR-pic_G4 {
	position: absolute;
	top: 22%;
	left: 25%;
	width: 16%;
	height: 38%;
}

#DHR-pic_G5 {
	position: absolute;
	top: 27%;
	left: 56%;
	width: 11%;
	height: 36%;
}

#DHR-pic_G6 {
	position: absolute;
	top: 27%;
	left: 41%;
	width: 12%;
	height: 36%;
}

/* 8 */

#DHR-pic_H1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 73%;
	height: 35%;
}

#DHR-pic_H2 {
	position: absolute;
	bottom: 17%;
	left: 12%;
	width: 13%;
	height: 24%;
}

#DHR-pic_H3 {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 30%;
	height: 32%;
}

#DHR-pic_H4 {
	position: absolute;
	bottom: 17%;
	left: 27%;
	width: 14%;
	height: 22%;
}

#DHR-pic_H5 {
	position: absolute;
	bottom: 17%;
	left: 50%;
	width: 18%;
	height: 24%;
}

#DHR-pic_H6 {
	position: absolute;
	bottom: 17%;
	left: 65%;
	width: 18%;
	height: 36%;
}

#DHR-H-01 {
	position: absolute;
	top: 37%;
	left: 0;
	width: 30%;
	height: 23%;
}

#DHR-H-02 {
	position: absolute;
	top: 0;
	right: 0;
	width: 59%;
	height: 52%;
}

/* 9 */

#DHR-pic_I1 {
	position: absolute;
	top: 30%;
	left: 35%;
	width: 20%;
	height: 52%;
}

#DHR-pic_I2 {
	position: absolute;
	bottom: 43.2%;
	left: 13%;
	width: 17.4%;
	height: 39%;
}

#DHR-pic_I3 {
	position: absolute;
	bottom: 17%;
	left: 45%;
	width: 20%;
	height: 39%;
}

#DHR-pic_I4 {
	position: absolute;
	top: 39%;
	left: 62%;
	width: 16%;
	height: 29.3%;
}

#DHR-pic_I5 {
	position: absolute;
	top: 0;
	right: 6%;
	width: 24%;
	height: 36%;
}

#DHR-I-01 {
	position: absolute;
	top: 33%;
	left: 0%;
	width: 100%;
	height: 50%;
}

#DHR-I-02 {
	position: absolute;
	top: 3%;
	left: 42%;
	width: 6%;
	height: 10%;
}

#DHR-I-03 {
	position: absolute;
	top: 17%;
	left: 33%;
	width: 12%;
	height: 10%;
}

#DHR-I-04 {
	position: absolute;
	top: 48%;
	left: 6%;
	width: 30%;
	height: 15%;
	border-radius: 0 72%;
}

#DHR-I-05 {
	position: absolute;
	top: 66%;
	left: 36%;
	width: 51%;
	height: 13%;
}

/* 10 */

#DHR-pic_J1 {
	position: absolute;
	bottom: 17%;
	left: 5%;
	width: 54%;
	height: 83%;
}

#DHR-pic_J2 {
	position: absolute;
	bottom: 17%;
	left: 25%;
	width: 20%;
	height: 28%;
}

#DHR-pic_J3 {
	position: absolute;
	bottom: 17%;
	left: 47%;
	width: 18%;
	height: 34%;
}

#DHR-pic_J4 {
	position: absolute;
	bottom: 17%;
	left: 40%;
	width: 57%;
	height: 83%;
}

#DHR-pic_J5 {
	position: absolute;
	top: 13%;
	left: 31%;
	width: 23%;
	height: 20%;
}

#DHR-pic_J6 {
	position: absolute;
	top: 0;
	left: 11%;
	width: 23%;
	height: 35%;
}

#DHR-pic_J7 {
	position: absolute;
	top: 26%;
	left: 22%;
	width: 10%;
	height: 25%;
}

#DHR-J-01 {
	position: absolute;
	top: 0;
	left: 40%;
	width: 8%;
	height: 13%;
}

#DHR-J-02 {
	position: absolute;
	top: 0;
	left: 48%;
	width: 10%;
	height: 12%;
}

#DHR-J-03 {
	position: absolute;
	top: 0;
	left: 12%;
	width: 27%;
	height: 26%;
}

#DHR-J-04 {
	position: absolute;
	bottom: 17%;
	left: 6%;
	width: 21%;
	height: 39%;
}

#DHR-J-05 {
	position: absolute;
	bottom: 17%;
	left: 47%;
	width: 13%;
	height: 33%;
}

#DHR-J-06 {
	position: absolute;
	bottom: 17%;
	left: 60%;
	width: 34%;
	height: 56%;
	border-radius: 0 100% 0 0;
}

/* 11 */

#DHR-pic_K1 {
	position: absolute;
	top: 15%;
	left: 55%;
	width: 17%;
	height: 40%;
}

#DHR-pic_K2 {
	position: absolute;
	top: 0;
	left: 57%;
	width: 44%;
	height: 39%;
}

#DHR-pic_K3 {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 18%;
	height: 44%;
}

#DHR-pic_K4 {
	position: absolute;
	bottom: 17%;
	left: 0;
	width: 23%;
	height: 32%;
}

#DHR-pic_K5 {
	position: absolute;
	top: 45%;
	left: 72%;
	width: 19%;
	height: 24%;
}

#DHR-pic_K6 {
	position: absolute;
	bottom: 17%;
	left: 35%;
	width: 23%;
	height: 49%;
}

#DHR-K-01 {
	position: absolute;
	top: 55%;
	left: 18%;
	width: 19%;
	height: 18%;
	border-radius: 75% 0;
}

#DHR-K-02 {
	position: absolute;
	top: 55%;
	left: 58%;
	width: 26%;
	height: 18%;
	border-radius: 0 100%;
}

/* 12 */

#DHR-pic_L1 {
	position: absolute;
	top: 42%;
	left: 85%;
	width: 15%;
	height: 30%;
}

#DHR-pic_L2 {
	position: absolute;
	top: 20%;
	left: 64%;
	width: 25%;
	height: 30%;
}

#DHR-pic_L3 {
	position: absolute;
	top: 51%;
	left: 75%;
	width: 14%;
	height: 28%;
}

#DHR-pic_L4 {
	position: absolute;
	top: 51%;
	left: 55%;
	width: 15%;
	height: 24%;
}

#DHR-pic_L5 {
	position: absolute;
	top: 0%;
	left: 5%;
	width: 44%;
	height: 83%;
}

#DHR-L-01 {
	position: absolute;
	top: 44%;
	left: 26%;
	width: 23%;
	height: 38%;
}

#DHR-L-02 {
	position: absolute;
    bottom: 17%;
    left: 0%;
    width: 16%;
    height: 25%;
    border-radius: 100% 0 0;
}

/* 底部样式 */

.DHR-but {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 17%;
}

.DHR-but img {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	width: 35%;
	max-height: 100%;
}

.DHR-but img:nth-of-type(2) {
	left: 75%;
	width: 45%;
}

.DHR-but_al img {
	left: 50%;
	width: 45%;
}

#DHR-pic_but_E2 {
	width: 32%;
}

#DHR-pic_but_J {
	width: 40%;
}

#DHR-pic_but_K {
	width: 60%;
}

#DHR-pic_but_L {
	width: 50%;
}
