html,
body {
	height: 100%;
}

.bd {
	transition: translate3d 5s;
}

.text {
	background-size: 100% 100%; 
} 

/* 1 */
.Y-DHR-pic_1 {
	position: absolute;
	top: 27%;
	left: 22%;
	width: 24%;
	height: 51%;
}

.Y-DHR-pic_2 {
	position: absolute;
	top: 51%;
	left: 68%;
	width: 32%;
	height: 32%;
	border-radius: 100% 0 0 0;
	overflow: hidden;
}

.Y-DHR-pic_3 {
	position: absolute;
	top: 43%;
	left: 0%;
	width: 20%;
	height: 29%;
}

.Y-DHR-pic_4 {
	position: absolute;
	top: 11%;
	left: 75.4%;
	width: 24.6%;
	height: 26.8%;
}

.Y-DHR-pic_5 {
	position: absolute;
	top: 0%;
	left: 25%;
	width: 26.7%;
	height: 41.5%;
}

.Y-DHR-pic_6 {
	position: absolute;
	top: 0;
	left: 0;
	width: 26%;
	height: 46%;
}

#Y-DHR-A-01 {
	position: absolute;
	top: 58%;
	left: 60%;
	width: 26%;
	height: 25%;
}

#Y-DHR-A-02 {
	position: absolute;
	top: 12%;
	left: 88%;
	width: 26%;
	height: 25%;
}


/* 2 */
.Y-DHR-pic_B1 {
	position: absolute;
	top: 24%;
	left: 52%;
	width: 32%;
	height: 59%;
}

.Y-DHR-pic_B2 {
	position: absolute;
	top: 50.7%;
	left: 26.3%;
	width: 5.6%;
	height: 6.5%;
}

.Y-DHR-pic_B3 {
	position: absolute;
	top: 5px;
	left: 75.1%;
	width: 25%;
	height: 81.8%;
}

.Y-DHR-pic_B4 {
	position: absolute;
	top: 35%;
	left: 33.4%;
	width: 30%;
	height: 48%;
}

.Y-DHR-pic_B5 {
	position: absolute;
	top: 13.5%;
	left: 12%;
	width: 29%;
	height: 24%;
}

.Y-DHR-pic_B6 {
	position: absolute;
	top: 51%;
	left: 0;
	width: 16%;
	height: 32%;
}

#Y-DHR-B-01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 52%;
}

#Y-DHR-B-02 {
	position: absolute;
	top: 37%;
	left: 20%;
	width: 16%;
	height: 45%;

}

/* 3 */
.Y-DHR-pic_C1 {
	position: absolute;
	top: 17%;
	left: 57%;
	width: 22%;
	height: 66%;
}


.Y-DHR-pic_C2 {
	position: absolute;
	top: 15%;
	left: 0;
	width: 36.6%;
	height: 68%;
}

#Y-DHR-C-01 {
	position: absolute;
	top: 0;
	left: 45%;
	width: 55%;
	height: 42%;
}

#Y-DHR-C-02 {
	position: absolute;
	top: 34%;
	left: 62%;
	width: 20.6%;
	height: 48%;
}

#Y-DHR-C-03 {
	position: absolute;
	top: 41%;
	left: 0;
	width: 21.6%;
	height: 42%;
	border-radius: 0 100% 0 0;
}

#Y-DHR-C-04 {
	position: absolute;
	top: 71%;
	left: 38%;
	width: 11.6%;
	height: 12%;
}

#Y-DHR-C-05 {
	position: absolute;
	top: 65%;
	left: 90%;
	width: 10%;
	height: 16%;
}

/* 4 */

.Y-DHR-pic_D1 {
	position: absolute;
	top: 12%;
	left: 21%;
	width: 26%;
	height: 71%;
}

.Y-DHR-pic_D2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#Y-DHR-D-01 {
	position: absolute;
	top: 52%;
	left: 0%;
	width: 26%;
	height: 31%;
}

#Y-DHR-D-02 {
	position: absolute;
	top: 40%;
	left: 60%;
	width: 31%;
	height: 43%;
}

#Y-DHR-D-03 {
	position: absolute;
	top: 0%;
	left: 82%;
	width: 16%;
	height: 33%;
}

#Y-DHR-D-04 {
	position: absolute;
	top: 20%;
	left: 7%;
	width: 15%;
	height: 24%;
}


/* 5 */

.Y-DHR-pic_E1 {
	position: absolute;
	top: 55%;
	left: 81%;
	width: 19%;
	height: 28%;
}

.Y-DHR-pic_E2 {
	position: absolute;
	top: 69%;
	left: 67%;
	width: 15%;
	height: 14%;
}

.Y-DHR-pic_E3 {
	position: absolute;
	top: 0;
	left: 83%;
	width: 17%;
	height: 25.5%;
}

.Y-DHR-pic_E4 {
	position: absolute;
	top: 12%;
	left: 77%;
	width: 11%;
	height: 20%;
}

.Y-DHR-pic_E5 {
	position: absolute;
	top: 62%;
	left: 58%;
	width: 16%;
	height: 15%;
}

.Y-DHR-pic_E6 {
	position: absolute;
	top: 6%;
	left: 66%;
	width: 18%;
	height: 33%;
}

.Y-DHR-pic_E7 {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 30%;
	height: 63%;
}

.Y-DHR-pic_E8 {
	position: absolute;
	top: 17%;
	left: 53%;
	width: 11%;
	height: 24%;
}

#Y-DHR-E-01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 34%;
	border-bottom-left-radius: 100%;
}

#Y-DHR-E-02 {
	position: absolute;
	top: 20%;
	left: 0;
	width: 68%;
	height: 44%;
	border-top-right-radius: 100%;
}

#Y-DHR-E-03 {
	position: absolute;
	top: 19%;
	left: 69%;
	width: 31%;
	height: 24%;
}


#Y-DHR-E-04 {
	position: absolute;
	top: 39%;
	left: 0;
	width: 100%;
	height: 43%;
}


#Y-DHR-E-05 {
	position: absolute;
	top: 36%;
	left: 8%;
	width: 9%;
	height: 24%;
}

/* 6 */

.Y-DHR-pic_F1 {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 27%;
	height: 63%;
}

.Y-DHR-pic_F2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 45%;
}

.Y-DHR-pic_F3 {
	position: absolute;
	top: 56%;
	left: 0;
	width: 14%;
	height: 27%;
}

.Y-DHR-pic_F4 {
	position: absolute;
	top: 12%;
	left: 71.6%;
	width: 17.2%;
	height: 28%;
}

.Y-DHR-pic_F5 {
	position: absolute;
	top: 0%;
	left: 38.4%;
	width: 21.5%;
	height: 53%
}

.Y-DHR-pic_F6 {
	position: absolute;
	top: 0%;
	left: 69%;
	width: 9%;
	height: 12%;
}

#Y-DHR-F-01 {
	position: absolute;
	top: 0%;
	left: 75%;
	width: 25%;
	height: 77%;
}


/* 7 */

.Y-DHR-pic_G1 {
	position: absolute;
	top: 6%;
	left: 0%;
	width: 12.8%;
	height: 38%;
}

.Y-DHR-pic_G2 {
	position: absolute;
	top: 30%;
	left: 14%;
	width: 20%;
	height: 47%;
}

.Y-DHR-pic_G3 {
	position: absolute;
	top: 0;
	left: 25.4%;
	width: 12.7%;
	height: 36%;
}

.Y-DHR-pic_G4 {
	position: absolute;
	top: 0%;
	left: 11.8%;
	width: 13%;
	height: 34%;
}

.Y-DHR-pic_G5 {
	position: absolute;
	top: 2%;
	left: 59%;
	width: 11.5%;
	height: 30%;
}

.Y-DHR-pic_G6 {
	position: absolute;
	top: 0;
	left: 87%;
	width: 13%;
	height: 43%;
}

.Y-DHR-pic_G7 {
	position: absolute;
	top: 18%;
	left: 37%;
	width: 22.3%;
	height: 22%;
}

#Y-DHR-G-01 {
	position: absolute;
	top: 57%;
	left: 0;
	width: 10.3%;
	height: 22%;
}

#Y-DHR-G-02 {
	position: absolute;
	top: 22%;
	left: 37%;
	width: 22.3%;
	height: 37%;
}

#Y-DHR-G-03 {
	position: absolute;
	top: 56%;
	left: 34%;
	width: 16%;
	height: 20%;
}


/* 8 */

.Y-DHR-pic_H1 {
	position: absolute;
	top: 38%;
	left: 0;
	width: 33%;
	height: 45%;
}

.Y-DHR-pic_H2 {
	position: absolute;
	top: 0;
	left: 16%;
	width: 82%;
	height: 84%;
}

#Y-DHR-H-01 {
	position: absolute;
    top: 0;
    left: 0;
    width: 34%;
    height: 33%;
}

#Y-DHR-H-02 {
	position: absolute;
    top: 0;
    left: 63%;
    width: 82%;
    height: 33%;
}

#Y-DHR-H-03 {
	position: absolute;
top: 52%;
    left: 16%;
    width: 15%;
    height: 31%;
}

#Y-DHR-H-04 {
	position: absolute;
top: 4%;
    left: 17%;
    width: 17%;
    height: 27%;
}
#Y-DHR-H-05 {
	position: absolute;
    top: 4%;
    left: 53%;
    width: 11%;
    height: 25%;
}


/* 9 */

.Y-DHR-pic_I1 {
	position: absolute;
	top: 0%;
	left: 54%;
	width: 30%;
	height: 37%;
}

.Y-DHR-pic_I2 {
	position: absolute;
	top: 31%;
	left: 11%;
	width: 29%;
	height: 52%;
}

#Y-DHR-I-01 {
	position: absolute;
top: 57%;
    left: 8%;
    width: 8%;
    height: 25%;
}

#Y-DHR-I-02 {
	position: absolute;
    top: 66%;
    left: 0%;
    width: 11%;
    height: 17%;
}

#Y-DHR-I-03 {
	position: absolute;
    top: 0%;
    left: 48%;
    width: 52%;
    height: 82%;
}

/* 10 */

.Y-DHR-pic_J1 {
	position: absolute;
	top: 0;
	left: 5%;
	width: 38%;
	height: 83%;
}

.Y-DHR-pic_J2 {
	position: absolute;
	top: 32%;
	left: 43.5%;
	width: 24%;
	height: 36%;
}

.Y-DHR-pic_J3 {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 23%;
	height: 43%;
}

.Y-DHR-pic_J4 {
	position: absolute;
	top: 26%;
	left: 61%;
	width: 24%;
	height: 26%;
}

.Y-DHR-pic_J5 {
	position: absolute;
	top: 23%;
	left: 39%;
	width: 10%;
	height: 33%;

}

.Y-DHR-pic_J6 {
	position: absolute;
	top: 3.5%;
	left: 70%;
	width: 16%;
	height: 27%;

}



.Y-DHR-pic_J1 img,
.Y-DHR-pic_J2 img,
.Y-DHR-pic_J3 img,
.Y-DHR-pic_J4 img,
.Y-DHR-pic_J5 img,
.Y-DHR-pic_J6 img,
.Y-DHR-pic_I1 img,
.Y-DHR-pic_I2 img,
.Y-DHR-pic_H1 img,
.Y-DHR-pic_H2 img,
.Y-DHR-pic_G1 img,
.Y-DHR-pic_G2 img,
.Y-DHR-pic_G3 img,
.Y-DHR-pic_G4 img,
.Y-DHR-pic_G5 img,
.Y-DHR-pic_G6 img,
.Y-DHR-pic_G7 img,
.Y-DHR-pic_F1 img,
.Y-DHR-pic_F2 img,
.Y-DHR-pic_F3 img,
.Y-DHR-pic_F4 img,
.Y-DHR-pic_F5 img,
.Y-DHR-pic_F6 img,
.Y-DHR-pic_E1 img,
.Y-DHR-pic_E2 img,
.Y-DHR-pic_E3 img,
.Y-DHR-pic_E4 img,
.Y-DHR-pic_E5 img,
.Y-DHR-pic_E6 img,
.Y-DHR-pic_E7 img,
.Y-DHR-pic_E8 img,
.Y-DHR-pic_D1 img,
.Y-DHR-pic_D2 img,
.Y-DHR-pic_C1 img,
.Y-DHR-pic_C2 img,
.Y-DHR-pic_B1 img,
.Y-DHR-pic_B2 img,
.Y-DHR-pic_B3 img,
.Y-DHR-pic_B4 img,
.Y-DHR-pic_B5 img,
.Y-DHR-pic_B6 img,
.Y-DHR-pic_1 img,
.Y-DHR-pic_2 img,
.Y-DHR-pic_3 img,
.Y-DHR-pic_4 img,
.Y-DHR-pic_5 img,
.Y-DHR-pic_6 img {
	width: 100%;
	height: 100%;
}



/* 底部样式 */
.Y-DHR-pic_but_J1,
.Y-DHR-pic_but_J2,
.Y-DHR-pic_but_H1,
.Y-DHR-pic_but_H2,
.Y-DHR-pic_but_G1,
.Y-DHR-pic_but_G2,
.Y-DHR-pic_but_F1,
.Y-DHR-pic_but_F2,
.Y-DHR-pic_but_E1,
.Y-DHR-pic_but_E2,
.Y-DHR-pic_but_D1,
.Y-DHR-pic_but_D2,
.Y-DHR-pic_but_C1,
.Y-DHR-pic_but_C2,
.Y-DHR-pic_but_B1,
.Y-DHR-pic_but_B2,
.Y-DHR-pic_but_I,
.Y-DHR-pic_but {
	position: absolute;
	bottom: 0;
	height: 15%;
	width: 50%;
}

.Y-DHR-pic_but_I,
.Y-DHR-pic_but {
	width: 100%;
}

.Y-DHR-pic_but_J1,
.Y-DHR-pic_but_H1,
.Y-DHR-pic_but_G1,
.Y-DHR-pic_but_F1,
.Y-DHR-pic_but_E1,
.Y-DHR-pic_but_D1,
.Y-DHR-pic_but_C1,
.Y-DHR-pic_but_B1 {
	left: 0;
}

.Y-DHR-pic_but_J2,
.Y-DHR-pic_but_H2,
.Y-DHR-pic_but_G2,
.Y-DHR-pic_but_F2,
.Y-DHR-pic_but_E2,
.Y-DHR-pic_but_D2,
.Y-DHR-pic_but_C2,
.Y-DHR-pic_but_B2 {
	right: 0;
}

.Y-DHR-pic_but_J1 img,
.Y-DHR-pic_but_J2 img,
.Y-DHR-pic_but_H1 img,
.Y-DHR-pic_but_H2 img,
.Y-DHR-pic_but_G1 img,
.Y-DHR-pic_but_G2 img,
.Y-DHR-pic_but_F1 img,
.Y-DHR-pic_but_F2 img,
.Y-DHR-pic_but_E1 img,
.Y-DHR-pic_but_E2 img,
.Y-DHR-pic_but_D1 img,
.Y-DHR-pic_but_D2 img,
.Y-DHR-pic_but_C1 img,
.Y-DHR-pic_but_C2 img,
.Y-DHR-pic_but_B1 img,
.Y-DHR-pic_but_B2 img,
.Y-DHR-pic_but_I img,
.Y-DHR-pic_but img {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.Y-DHR-pic_but_J2 img,
.Y-DHR-pic_but_H1 img,
.Y-DHR-pic_but_G1 img,
.Y-DHR-pic_but_F1 img,
.Y-DHR-pic_but_E1 img,
.Y-DHR-pic_but_D1 img,
.Y-DHR-pic_but_C1 img,
.Y-DHR-pic_but_B1 img {
	width: 75%;
}
.Y-DHR-pic_but_J1 img {
	width: 60%;
}
.Y-DHR-pic_but_I img,
.Y-DHR-pic_but img {
	width: 40%;
}
