html {
	overflow: hidden;
}

body {
	background-image: url(../../img/page_03.jpg);
	overflow: hidden;
}

html,
body {
	width: 100%;
	height: 100%;
}
.catalog-init{
	display: none;
}

.cartoon {
	max-width: 70%;
	height: 90%;
	margin: 0 auto;
	/* padding-top: 5%; */
}
#fanhui img{
	margin:2% 0 0 4%;
	width: 4%;
}


.init {
	background-image: url(../../img/wangge_03.png);
	background-size: 100% auto;
	box-sizing: border-box;
	padding: 0.625rem;
	border-radius: 0.5rem;
	width: 100%;
	height: 75%;
	position: relative;
	overflow: hidden;
}

.init .video {
	width: 100%;
	height: 100%;
	background: #7D20D3;
	position: relative;
	background-size: 100% 100%;
}

.init .video img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5rem;
	height: 5rem;
}

.init .speed {
	width: 100%;
	bottom:0.625rem;
	left: 0rem;
	height: 1.25rem;
	position: absolute;
	display: none;
}

.init .speed span:nth-child(1) {
	text-align: center;
	text-shadow: 0.0625rem 0.0625rem #ffffff;
	display: block;
	position: absolute;
	bottom:0.5rem;
	width: 100%;
}
.init .speed span:nth-child(2) {
	display: block;
	left:0.625rem;
	right: 0.625rem;
	height: 0.3125rem;
	bottom:0rem;
	background-color: #d9bcf4;
	position: absolute;
	overflow: hidden;
}
.init .speed span:nth-child(2) u{
	display: block;
	overflow: hidden;
	background-color: #8222db;
	width: 0%;
	bottom: 0rem;
	height: 0.3125rem;
	position: absolute;
	}
.control {
	width: 70%;
	height: 20%;
	overflow: hidden;
	margin: 0.625rem auto 0;
	display: table;
}

/* 隐藏类名 */
.control-active {
	display: none;
}

.control li {
	font-family: 'YueYuan';
	margin: 0rem;
	padding: 0rem;
	color: #FFFFFF;
	width: 2.5rem;
	display: table-cell;
	text-align: center;
	width: 33.333333333333333333%;
}

.control li .o-large {
	/* width: 2.5rem;
	height: 2.5rem; */
}

.control li .peiyin-text {
	display: none;
}

.control li img {
	width: auto;
	height: 20%;
	display: block;
	margin: auto;
}

.control li p {
	font-size: 0.75rem;
	line-height: 1rem;
}

/* 视频解锁弹窗 */
/* public.css */
