html,
body {
	height: 100%;
}

#bd12 .text {
	background-size: 100% 100%;
}

.bd {
	transition: translate3d 5s;
}

.bd-DHR img,
.bd-DHR div {
	position: absolute;
}

/* 1 */
#DHP-pic_A1 {
	top: 6%;
	left: 9%;
	height: 14%;
}

#DHP-pic_A2 {
	top: 4%;
	left: 52%;
	height: 14%;
}

#DHP-pic_A3 {
	top: 50%;
	left: 10%;
	height: 16%;
}

#DHP-pic_A4 {
	top: 71%;
	left: 54%;
	height: 18%;
}


#DHP-A-01 {
	top: 67%;
	left: 14%;
	height: 27%;
	width: 17%;
}

#DHP-A-02 {
	top: 37%;
	left: 49%;
	height: 33%;
	width: 15%
}

#DHP-A-03 {
	top: 19%;
	left: 75.5%;
	height: 34%;
	width: 11%;
	;
}

#DHP-A-04 {
	top: 51%;
	left: 38%;
	height: 23%;
	width: 8%;
}

#DHP-A-05 {
	top: 75%;
	left: 41%;
	height: 8%;
	width: 6%;
}

#DHP-A-06 {
	top: 53%;
	left: 47%;
	height: 29%;
	width: 6%;
}

#DHP-A-07 {
	top: 49%;
	left: 54%;
	height: 29%;
	width: 8%;
}

#DHP-A-08 {
	top: 39%;
	left: 62%;
	height: 39%;
	width: 7%;
}

#DHP-A-09 {
	top: 39%;
	left: 77%;
	height: 46%;
	width: 9%;
}

#DHP-A-10 {
	top: 88%;
	left: 24%;
	height: 5%;
	width: 5%;
}

/* 2 */
#DHP-pic_B1 {
	top: 4%;
	left: 28%;
	height: 16%;
}

#DHP-pic_B2 {
	top: 4%;
	left: 55%;
	height: 13%;
}

#DHP-pic_B3 {
	top: 67%;
	left: 5%;
	height: 18%;
}

#DHP-B-01 {
	top: 1%;
	left: 8%;
	height: 27%;
	width: 8%;
}

#DHP-B-02 {
	top: 8%;
	left: 17%;
	height: 19%;
	width: 6%;
}

#DHP-B-03 {
	top: 39%;
	left: 5%;
	height: 15%;
	width: 7%;
}

#DHP-B-04 {
	top: 47%;
	left: 14%;
	height: 6%;
	width: 8%
}

#DHP-B-05 {
	top: 37%;
	left: 13%;
	height: 8%;
	width: 5%;
}

#DHP-B-06 {
	bottom: 64%;
	left: 32%;
	height: 15%;
	width: 13%;
}

#DHP-B-07 {
	bottom: 34%;
	left: 45%;
	height: 34%;
	width: 8%;
}

#DHP-B-08 {
	bottom: 38%;
	left: 54%;
	height: 17%;
	width: 8%;
}

#DHP-B-09 {
	bottom: 13%;
	left: 30%;
	height: 11%;
	width: 5%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-10 {
	bottom: 21%;
	left: 35%;
	height: 11%;
	width: 4%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-11 {
	bottom: 21%;
	left: 43%;
	height: 9%;
	width: 6%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-12 {
	bottom: 69%;
	left: 75%;
	height: 21%;
	width: 16%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-13 {
	bottom: 27%;
	left: 82%;
	height: 23%;
	width: 6%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-14 {
	bottom: 36%;
	left: 88%;
	height: 23%;
	width: 6%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-15 {
	bottom: 2%;
	left: 58%;
	height: 8%;
	width: 5%;
}

#DHP-B-16 {
	bottom: 13%;
	left: 63%;
	height: 7%;
	width: 4%;
	border-radius: 100% 100% 0 0;
}

#DHP-B-17 {
	bottom: 7%;
	left: 71%;
	height: 9%;
	width: 10%;
	border-radius: 100% 100% 0 0;
}

/* 3 */
#DHP-pic_C1 {
	top: 3%;
	left: 8%;
	height: 11%;
}

#DHP-pic_C2 {
	top: 66%;
	right: 8%;
	height: 19%;
}

#DHP-C-01 {
	top: 2%;
	left: 47%;
	height: 23%;
	width: 6%;
}

#DHP-C-02 {
	top: 14%;
	left: 39.5%;
	height: 17%;
	width: 7%;
}

#DHP-C-03 {
	top: 35%;
	left: 31%;
	height: 10%;
	width: 11%;
}

#DHP-C-04 {
	top: 55%;
	left: 29%;
	height: 33%;
	width: 19%;
}

#DHP-C-05 {
	top: 40%;
	left: 63%;
	height: 18%;
	width: 20%;
}

#DHP-C-06 {
	top: 64%;
	left: 72%;
	height: 16%;
	width: 22%;
}

#DHP-C-07 {
	top: 57%;
	left: 42%;
	height: 40%;
	width: 16%;
}

#DHP-C-08 {
	top: 31%;
	left: 63%;
	height: 54%;
	width: 32%;
}

/* 4 */
#DHP-pic_D1 {
	top: 6%;
	left: 17%;
	height: 13%;
}

#DHP-pic_D2 {
	bottom: 30%;
	right: 63%;
	height: 19%;
}

#DHP-D-01 {
	top: 37%;
	left: 21%;
	height: 12%;
	width: 18%;

}

#DHP-D-02 {
	top: 65%;
	left: 47%;
	height: 22%;
	width: 11%;
}

#DHP-D-03 {
	top: 64%;
	left: 64%;
	height: 19%;
	width: 17%;
}

#DHP-D-04 {
	top: 62%;
	left: 55%;
	height: 12%;
	width: 9%
}

#DHP-D-05 {
	top: 70%;
	left: 64%;
	height: 9%;
	width: 9%;
}

#DHP-D-06 {
	top: 61%;
	left: 67%;
	height: 9%;
	width: 9%;
}

#DHP-D-07 {
	top: 58%;
	left: 76%;
	height: 6%;
	width: 6%;
}

#DHP-D-08 {
	top: 65%;
	left: 78%;
	height: 32%;
	width: 14%;
}

/* 5 */
#DHP-pic_E1 {
	top: 69%;
	right: 64%;
	height: 17%;
}

#DHP-pic_E2 {
	top: 6%;
	left: 59%;
	height: 10%;
}

#DHP-E-01 {
	top: 28%;
	left: 22%;
	height: 4%;
	width: 5%;
}

#DHP-E-02 {
	top: 33%;
	left: 21%;
	height: 9%;
	width: 12%;
}

#DHP-E-03 {
	top: 60%;
	left: 74%;
	height: 11%;
	width: 3%;
}

#DHP-E-04 {
	top: 46%;
	left: 57%;
	height: 14%;
	width: 7%;
}

#DHP-E-05 {
	top: 79%;
	left: 85%;
	height: 13%;
	width: 9%;
}

#DHP-E-06 {
	top: 65%;
	left: 86%;
	height: 12%;
	width: 9%;
}

#DHP-E-07 {
	top: 65%;
	left: 86%;
	height: 13%;
	width: 8%;
}

#DHP-E-08 {
	top: 32%;
	left: 68%;
	height: 52%;
	width: 13%;
}

#DHP-E-09 {
	top: 31%;
	left: 82%;
	height: 53%;
	width: 10%;
}

#DHP-E-10 {
	top: 59%;
	left: 74%;
	height: 39%;
	width: 8%;
}

#DHP-E-11 {
	top: 49%;
	left: 85%;
	height: 33%;
	width: 8%;
}

#DHP-E-12 {
	top: 71%;
	left: 93%;
	height: 7%;
	width: 5%;
}

#DHP-E-13 {
	top: 84%;
	left: 87%;
	height: 11%;
	width: 11%;
}

/* 6 */
#DHP-pic_F1 {
	top: 7%;
	left: 9%;
	height: 16%;
}

#DHP-pic_F2 {
	top: 21%;
	left: 54%;
	height: 15%;
}

#DHP-F-01 {
	top: 29%;
	left: 11%;
	height: 13%;
	width: 7%;
}

#DHP-F-02 {
	top: 83%;
	left: 36%;
	height: 13%;
	width: 10%;
}

#DHP-F-03 {
	top: 85%;
	left: 61%;
	height: 12%;
	width: 11%;
}

#DHP-F-04 {
	top: 35%;
	left: 54%;
	height: 20%;
	width: 18%;
}

#DHP-F-05 {
	top: 2%;
	left: 78%;
	height: 51%;
	width: 10%;
}

#DHP-F-06 {
	top: 1%;
	left: 63%;
	height: 10%;
	width: 11%;
}

#DHP-F-07 {
	top: 28%;
	left: 76%;
	height: 18%;
	width: 12%;
}

/* 7 */
#DHP-pic_G1 {
	top: 73%;
	left: 6%;
	height: 14%;
}

#DHP-pic_G2 {
	right: 7%;
	top: 11%;
	height: 18%;
}

#DHP-G-01 {
	top: 3%;
	left: 28%;
	height: 30%;
	width: 8%;
}

#DHP-G-02 {
	top: 15%;
	left: 40%;
	height: 19%;
	width: 8%;
}

#DHP-G-03 {
	top: 51%;
	left: 11%;
	height: 12%;
	width: 6%;
}

#DHP-G-04 {
	top: 52%;
	left: 23%;
	height: 8%;
	width: 7%;
}

#DHP-G-05 {
	top: 92%;
	left: 54%;
	height: 7%;
	width: 7%;
}

#DHP-G-06 {
	top: 84%;
	right: 25%;
	height: 12%;
	width: 7%;
}

/* 8 */
#DHP-pic_H1 {
	top: 75%;
	left: 10%;
	height: 19%;
}

#DHP-pic_H2 {
	top: 5%;
	right: 4%;
	height: 16%;
}

#DHP-H-01 {
	top: 29%;
	left: 40%;
	height: 18%;
	width: 30%;
}

#DHP-H-02 {
	top: 65%;
	left: 64%;
	height: 31%;
	width: 18%;
}

#DHP-H-03 {
	top: 37%;
	left: 47%;
	height: 29%;
	width: 8%;
}

#DHP-H-04 {
	top: 35%;
	left: 57%;
	height: 28%;
	width: 6%;
}

#DHP-H-05 {
	top: 34%;
	left: 70%;
	height: 26%;
	width: 5%;
}

#DHP-H-06 {
	top: 22%;
	left: 87%;
	height: 48%;
	width: 11%;
}

#DHP-H-07 {
	top: 16%;
	left: 50%;
	height: 61%;
	width: 19%;
}

#DHP-H-08 {
	top: 44%;
	left: 58%;
	height: 8%;
	width: 7%;
}

#DHP-H-09 {
	top: 72%;
	left: 83%;
	height: 18%;
	width: 14%;
}

/* 9 */
#DHP-pic_I1 {
	bottom: 14%;
	right: 68%;
	height: 16%;
}

#DHP-pic_I2 {
	bottom: 55%;
	right: 4%;
	height: 25%;
}

#DHP-I-01 {
	top: 5%;
	left: 15%;
	height: 14%;
	width: 5%;
}

#DHP-I-02 {
	top: 7%;
	left: 23%;
	height: 30%;
	width: 14%;
}

#DHP-I-03 {
	top: 67%;
	left: 34%;
	height: 18%;
	width: 6%;
}

#DHP-I-04 {
	top: 57%;
	left: 60%;
	height: 29%;
	width: 8%;
	;
}

#DHP-I-05 {
	top: 46%;
	left: 79%;
	height: 42%;
	width: 9%;
}

#DHP-I-06 {
	top: 3%;
	left: 35%;
	height: 26%;
	width: 7%;
}

#DHP-I-07 {
	top: 0%;
	left: 0%;
	height: 16%;
	width: 35%;
}

#DHP-I-08 {
	top: 16%;
	left: 16%;
	height: 10%;
	width: 12%;
}

#DHP-I-09 {
	top: 71%;
	left: 11%;
	height: 23%;
	width: 19%;
	border-radius: 70% 30% 30%;
}

#DHP-I-10 {
	top: 72%;
	left: 25%;
	height: 17%;
	width: 26%;
	border-radius: 30%;
}

#DHP-I-11 {
	top: 87%;
	left: 30%;
	height: 10%;
	width: 11%;
}

#DHP-I-12 {
	top: 88%;
	left: 42%;
	height: 10%;
	width: 11%;
	border-radius: 30% 30% 70%;
}

/* 10 */
#DHP-pic_J1 {
	bottom: 18%;
	left: 8%;
	height: 22%;
}

#DHP-pic_J2 {
	bottom: 71%;
	left: 61%;
	height: 16%;
}

#DHP-J-01 {
	top: 14%;
	left: 33%;
	height: 25%;
	width: 12%;
}

#DHP-J-02 {
	top: 68%;
	left: 73%;
	height: 10%;
	width: 6%;
}

#DHP-J-03 {
	top: 45%;
	left: 74%;
	height: 22%;
	width: 10%;
}

#DHP-J-04 {
	top: 31%;
	left: 85%;
	height: 34%;
	width: 8%;

}

#DHP-J-05 {
	top: 79%;
	left: 44%;
	height: 14%;
	width: 2%;
}

#DHP-J-06 {
	top: 14%;
	left: 56%;
	height: 28%;
	width: 8%;
}

#DHP-J-07 {
	top: 45%;
	left: 57%;
	height: 11%;
	width: 4%;
}
