html,
body {
	height: 100%;
}

#bd12 .text {
	background-size: 100% 100%;
}

.bd {
	transition: translate3d 5s;
}

.bd-DHR img,
.bd-DHR div {
	position: absolute;
}

/* 1 */
#DHP-pic_A1 {
	top: 8%;
	left: 65%;
	height: 15%;
}

#DHP-pic_A2 {
	top: 70%;
	left: 71%;
	height: 18%;
}

#DHP-pic_A3 {
	top: 17%;
	right: 2%;
	height: 28%;
	z-index: 2;
}

#DHP-A-01 {
	top: 35%;
	left: 2%;
	height: 49%;
	width: 13%;
}

#DHP-A-02 {
	top: 38%;
	left: 18%;
	height: 46%;
	width: 10%;
}

#DHP-A-03 {
	top: 50%;
	left: 29.5%;
	height: 32%;
	width: 8%;
}

#DHP-A-04 {
	top: 51%;
	left: 38%;
	height: 23%;
	width: 8%;
}

#DHP-A-05 {
	top: 75%;
	left: 41%;
	height: 8%;
	width: 6%;
}

#DHP-A-06 {
	top: 53%;
	left: 47%;
	height: 29%;
	width: 6%;
}

#DHP-A-07 {
	top: 49%;
	left: 54%;
	height: 29%;
	width: 8%;
}

#DHP-A-08 {
	top: 39%;
	left: 62%;
	height: 39%;
	width: 7%;
}

#DHP-A-09 {
	top: 39%;
	left: 77%;
	height: 46%;
	width: 9%;
}

/* 2 */
#DHP-pic_B1 {
	top: 10%;
	right: 3%;
	height: 26%;
	z-index: 2;
}


#DHP-B-01 {
	top: 43%;
	left: 3%;
	height: 18%;
	width: 8%;
}

#DHP-B-02 {
	top: 24%;
	left: 12%;
	height: 36%;
	width: 15%;
}

#DHP-B-03 {
	top: 21%;
	left: 28%;
	height: 44%;
	width: 12%;
}

#DHP-B-04 {
	top: 22%;
	left: 43%;
	height: 42%;
	width: 19%;
	;
}

#DHP-B-05 {
	top: 49%;
	left: 66%;
	height: 36%;
	width: 9%;
}

#DHP-B-06 {
	bottom: 17%;
	left: 77%;
	height: 34%;
	width: 8%;
	;
}

#DHP-B-07 {
	bottom: 5%;
	left: 83%;
	height: 10%;
	width: 7%;
}

#DHP-B-08 {
	bottom: 4%;
	left: 91%;
	height: 31%;
	width: 7%;
}

/* 3 */
#DHP-pic_C1 {
	top: 11%;
	left: 8%;
	height: 24%;
}

#DHP-pic_C2 {
	bottom: 10%;
	right: 8%;
	height: 24%;
}

#DHP-C-01 {
	top: 64%;
	left: 26%;
	height: 21%;
	width: 4%;
}

#DHP-C-02 {
	top: 62%;
	left: 30.5%;
	height: 18%;
	width: 3%;
}

#DHP-C-03 {
	top: 62%;
	left: 35%;
	height: 23%;
	width: 6%;
}

#DHP-C-04 {
	top: 56%;
	left: 42%;
	height: 28%;
	width: 3%;
}

#DHP-C-05 {
	top: 46%;
	left: 34%;
	height: 12%;
	width: 7%;
}

/* 4 */
#DHP-pic_D1 {
	top: 20%;
	left: 57%;
	height: 21%;
}

#DHP-pic_D2 {
	bottom: 5%;
	right: 5%;
	height: 11%
}

#DHP-D-01 {
	top: 9%;
	left: 23%;
	height: 41%;
	width: 18%;
}

#DHP-D-02 {
	top: 50%;
	left: 45%;
	height: 10%;
	width: 11%;
}

#DHP-D-03 {
	top: 50%;
	left: 24%;
	height: 15%;
	width: 17%;
}

/* 5 */
#DHP-pic_E1 {
	top: 6%;
	left: 70%;
	height: 15%;
}

#DHP-pic_E2 {
	top: 69%;
	right: 64%;
	height: 17%;
}

#DHP-E-01 {
	top: 43%;
	left: 34%;
	height: 19%;
	width: 5%;
}

#DHP-E-02 {
	top: 45%;
	left: 30%;
	height: 13%;
	width: 3%;
}

#DHP-E-03 {
	top: 44%;
	left: 40%;
	height: 11%;
	width: 3%;
}

#DHP-E-04 {
	top: 45%;
	left: 44%;
	height: 10%;
	width: 3%;
}

#DHP-E-05 {
	top: 55%;
	left: 52%;
	height: 7%;
	width: 4%;
}

#DHP-E-06 {
	top: 50%;
	left: 56%;
	height: 10%;
	width: 4%;
}

#DHP-E-07 {
	top: 46%;
	left: 62%;
	height: 19%;
	width: 4%;
}

#DHP-E-08 {
	top: 32%;
	left: 68%;
	height: 52%;
	width: 13%;
}

#DHP-E-09 {
	top: 31%;
	left: 82%;
	height: 53%;
	width: 10%;
}

/* 6 */
#DHP-pic_F1 {
	top: 7%;
	left: 9%;
	height: 16%;
}

#DHP-pic_F2 {
	top: 83%;
	left: 69%;
	height: 15%;
}

#DHP-F-01 {
	top: 42%;
	left: 25%;
	height: 26%;
	width: 9%;
}

#DHP-F-02 {
	top: 38%;
	left: 66%;
	height: 43%;
	width: 10%;
}

#DHP-F-03 {
	top: 31%;
	left: 63%;
	height: 5%;
	width: 4%;
}

#DHP-F-04 {
	top: 28%;
	left: 68%;
	height: 4%;
	width: 4%;
}

/* 7 */
#DHP-pic_G1 {
	top: 13%;
	right: 7%;
	height: 30%;
}

#DHP-G-01 {
	top: 56%;
	left: 23%;
	height: 37%;
	width: 11%;
}

/* 8 */
#DHP-pic_H1 {
	top: 70%;
	left: 30%;
	height: 24%;
}

#DHP-H-01 {
	top: 25%;
	left: 6%;
	height: 45%;
	width: 9%;
}

#DHP-H-02 {
	top: 33%;
	left: 35%;
	height: 28%;
	width: 5%
}

#DHP-H-03 {
	top: 37%;
	left: 47%;
	height: 29%;
	width: 8%;
}

#DHP-H-04 {
	top: 35%;
	left: 57%;
	height: 28%;
	width: 6%;
}

#DHP-H-05 {
	top: 34%;
	left: 70%;
	height: 26%;
	width: 5%;
}

#DHP-H-06 {
	top: 22%;
	left: 87%;
	height: 48%;
	width: 11%;
}

/* 9 */
#DHP-pic_I1 {
	bottom: 43%;
	left: 3%;
	height: 20%;
}

#DHP-I-01 {
	top: 5%;
	left: 8%;
	height: 31%;
	width: 9%;
}

#DHP-I-02 {
	top: 57%;
	left: 17%;
	height: 32%;
	width: 35%;
}

#DHP-I-03 {
	top: 3%;
	left: 53%;
	height: 66%;
	width: 17%;
}

/* 10 */
#DHP-pic_J1 {
	bottom: 54%;
	left: 8%;
	height: 30%;
}

#DHP-J-01 {
	top: 48%;
	left: 34%;
	height: 48%;
	width: 16%;
}

#DHP-J-02 {
	top: 27%;
	left: 53%;
	height: 51%;
	width: 12%;
}

#DHP-J-03 {
	top: 31%;
	left: 75%;
	height: 50%;
	width: 5%;
}
