html,
body {
	height: 100%;
}

#bd12 .text {
	background-size: 100% 100%;
}

.bd {
	transition: translate3d 5s;
}

.bd-DHR img,
.bd-DHR div {
	position: absolute;
}

/* 1 */
#DHP-pic_A1 {
	top: 14%;
	left: 3%;
	height: 16%;
}

#DHP-pic_A2 {
	top: 5%;
	left: 53%;
	height: 16%;
}

#DHP-pic_A3 {
	top: 17%;
	right: 2%;
	height: 28%;
	z-index: 2;
}

#DHP-A-01 {
	top: 0%;
	left: 29%;
	height: 30%;
	width: 13%;
}

#DHP-A-02 {
	top: 35%;
	left: 4%;
	height: 15%;
	width: 21%;
}

#DHP-A-03 {
	top: 34%;
	left: 28%;
	height: 54%;
	width: 14%;
	border-radius: 0 71% 0 0;
}

#DHP-A-04 {
	top: 49%;
	left: 34%;
	height: 29%;
	width: 12%;
	border-radius: 40% 70% 20% 30%;
}

#DHP-A-05 {
	top: 33%;
	left: 47%;
	height: 42%;
	width: 16%;
	border-radius: 76% 0 0;
}

#DHP-A-06 {
	top: 75%;
	left: 46%;
	height: 25%;
	width: 14%;
	border-radius: 20% 100% 0 0;
}

#DHP-A-07 {
	top: 28%;
	left: 63%;
	height: 56%;
	width: 21%;
	border-radius: 30% 100% 0 0;
}

#DHP-A-08 {
	top: 50%;
	left: 82%;
	height: 20%;
	width: 16%;
}

#DHP-A-09 {
	bottom: 0;
	left: 0;
	height: 31%;
	width: 31%;
	border-radius: 36% 100% 0 0;
}

/* 2 */
#DHP-pic_B1 {
	top: 3%;
	left: 7%;
	height: 9%;
}

#DHP-pic_B2 {
	top: 3%;
	right: 2%;
	height: 9%;
}

#DHP-B-01 {
	top: 8%;
	left: 12%;
	height: 82%;
	width: 80%;
	border-radius: 50%;
}

#DHP-B-02 {
	top: 49%;
	left: 52%;
	height: 19%;
	width: 7%;
}

#DHP-B-03 {
	top: 44%;
	left: 47%;
	height: 23%;
	width: 5%;
}

#DHP-B-04 {
	top: 51%;
	left: 44%;
	height: 16%;
	width: 5%;
}

#DHP-B-05 {
	top: 51%;
	left: 34%;
	height: 23%;
	width: 10%;
}

#DHP-B-06 {
	bottom: 0%;
	left: 6%;
	height: 30%;
	width: 10%;
}

#DHP-B-07 {
	bottom: 0%;
	left: 13%;
	height: 14%;
	width: 8%;
	border-radius: 75% 38% 0 0;
}

#DHP-B-08 {
	bottom: 0%;
	left: 21%;
	height: 27%;
	width: 15%;
}

#DHP-B-09 {
	bottom: 0%;
	left: 36%;
	height: 22%;
	width: 14%;
	border-radius: 100% 100% 0 0;
}

/* 3 */
#DHP-pic_C1 {
	top: 68%;
	left: 10%;
	height: 20%;
}

#DHP-pic_C2 {
	bottom: 12%;
	right: 8%;
	height: 11%;
}

#DHP-C-01 {
	top: 13%;
	left: 20%;
	height: 44%;
	width: 25%;
}

#DHP-C-02 {
	top: 17%;
	left: 46%;
	height: 57%;
	width: 19%;
}

#DHP-C-03 {
	top: 37%;
	left: 67%;
	height: 16%;
	width: 7%;
}

#DHP-C-04 {
	top: 24%;
	left: 74%;
	height: 26%;
	width: 14%;
}

/* 4 */
#DHP-pic_D1 {
	top: 5%;
	left: 7%;
	height: 18%;
}

#DHP-pic_D2 {
	bottom: 15%;
	right: 5%;
	height: 12%;
}

#DHP-D-01 {
	top: 47%;
	left: 19%;
	height: 42%;
	width: 14%;
}

#DHP-D-02 {
	top: 65%;
	left: 31%;
	height: 12%;
	width: 10%;
}

#DHP-D-03 {
	top: 8%;
	left: 63%;
	height: 64%;
	width: 30%;
}

#DHP-D-04 {
	top: 6%;
	left: 45%;
	height: 12%;
	width: 9%;
}

#DHP-D-05 {
	top: 21%;
	left: 26%;
	height: 10%;
	width: 9%;
}

/* 5 */
#DHP-pic_E1 {
	top: 8%;
	left: 8%;
	height: 18%;
}

#DHP-pic_E2 {
	bottom: 5%;
	right: 10%;
	height: 12%;
}

#DHP-E-01 {
	top: 33%;
	left: 20%;
	height: 55%;
	width: 18%;
}

#DHP-E-02 {
	top: 30%;
	left: 52%;
	height: 52%;
	width: 16%;
}

#DHP-E-03 {
	top: 55%;
	left: 68%;
	height: 12%;
	width: 7%;
}

#DHP-E-04 {
	top: 4%;
	left: 73%;
	height: 59%;
	width: 27%;
}

/* 6 */
#DHP-pic_F1 {
	top: 6%;
	left: 7%;
	height: 16%;
}

#DHP-pic_F2 {
	top: 2%;
	right: 26%;
	height: 17%;
}

#DHP-F-01 {
	top: 23%;
	left: 6%;
	height: 50%;
	width: 37%;
}

#DHP-F-02 {
	top: 34%;
	left: 49%;
	height: 47%;
	width: 23%;
}

#DHP-F-03 {
	top: 6%;
	left: 74%;
	height: 57%;
	width: 26%;
}

#DHP-F-04 {
	top: 20%;
	left: 65%;
	height: 18%;
	width: 9%;
}

#DHP-F-05 {
	top: 79%;
	left: 34%;
	height: 18%;
	width: 18%;
}

/* 7 */
#DHP-pic_G1 {
	top: 18%;
	left: 2%;
	height: 17%;
}

#DHP-pic_G2 {
	right: 3%;
	top: 25%;
	height: 12%;
}

#DHP-G-01 {
	top: 38%;
	left: 19%;
	height: 45%;
	width: 15%;
}

#DHP-G-02 {
	top: 45%;
	left: 39%;
	height: 25%;
	width: 8%;
}

#DHP-G-03 {
	top: 40%;
	left: 48%;
	height: 42%;
	width: 12%;
}

#DHP-G-04 {
	top: 44%;
	left: 69%;
	height: 45%;
	width: 14%;
}

#DHP-G-05 {
	top: 80%;
	left: 0%;
	height: 20%;
	width: 15%;
}

#DHP-G-06 {
	top: 77%;
	right: 4%;
	height: 16%;
	width: 11%;
}

/* 8 */
#DHP-pic_H1 {
	top: 15%;
	left: 7%;
	height: 16%;
}

#DHP-pic_H2 {
	top: 5%;
	right: 4%;
	height: 12%;
}

#DHP-H-01 {
	top: 32%;
	left: 13%;
	height: 17%;
	width: 11%;
}

#DHP-H-02 {
	top: 74%;
	left: 12%;
	height: 10%;
	width: 11%;
}

#DHP-H-03 {
	top: 78%;
	left: 28%;
	height: 15%;
	width: 16%;
}

#DHP-H-04 {
	top: 62%;
	left: 36%;
	height: 15%;
	width: 12%;
}

#DHP-H-05 {
	top: 77%;
	left: 57%;
	height: 14%;
	width: 9%;
}

#DHP-H-06 {
	top: 53%;
	left: 70%;
	height: 12%;
	width: 8%;
}

#DHP-H-07 {
	top: 16%;
	left: 50%;
	height: 61%;
	width: 19%;
}

#DHP-H-08 {
	top: 44%;
	left: 58%;
	height: 8%;
	width: 7%;
}

#DHP-H-09 {
	top: 72%;
	left: 83%;
	height: 18%;
	width: 14%;
}

/* 9 */
#DHP-pic_I1 {
	bottom: 2%;
	right: 9%;
	height: 16%;
}

#DHP-I-01 {
	top: 41%;
	left: 61%;
	height: 41%;
	width: 14%;
}

#DHP-I-02 {
	top: 35%;
	left: 75%;
	height: 47%;
	width: 7%;
}

#DHP-I-03 {
	top: 41%;
	left: 82%;
	height: 41%;
	width: 10%;
}

#DHP-I-04 {
	top: 48%;
	left: 92%;
	height: 31%;
	width: 8%;
}

#DHP-I-05 {
	top: 7%;
	left: 58%;
	height: 25%;
	width: 41%;
}

#DHP-I-06 {
	top: 3%;
	left: 35%;
	height: 26%;
	width: 7%;
}

#DHP-I-07 {
	top: 0%;
	left: 0%;
	height: 16%;
	width: 35%;
}

#DHP-I-08 {
	top: 16%;
	left: 16%;
	height: 10%;
	width: 12%;
}

#DHP-I-09 {
	top: 27%;
	left: 2%;
	height: 14%;
	width: 10%;
}

#DHP-I-10 {
	top: 32%;
	left: 28%;
	height: 12%;
	width: 9%;
	border-radius: 30%;
}

#DHP-I-11 {
	top: 49%;
	left: 10%;
	height: 26%;
	width: 12%;
}

#DHP-I-12 {
	top: 67%;
	left: 24%;
	height: 17%;
	width: 13%;
}

#DHP-I-13 {
	top: 60%;
	left: 45%;
	height: 17%;
	width: 12%;
}

#DHP-I-14 {
	bottom: 0%;
	left: 0%;
	height: 20%;
	width: 14%;
}

#DHP-I-15 {
	bottom: 0%;
	left: 37%;
	height: 8%;
	width: 14%;
}

/* 10 */
#DHP-pic_J1 {
	top: 10%;
	left: 51%;
	height: 22%;
}

#DHP-J-01 {
	top: 0%;
	left: 27%;
	height: 39%;
	width: 11%;
}

#DHP-J-02 {
	top: 28%;
	left: 2%;
	height: 15%;
	width: 17%;
}

#DHP-J-03 {
	top: 43%;
	left: 0%;
	height: 19%;
	width: 32%;
}

#DHP-J-04 {
	top: 84%;
	left: 5%;
	height: 51%;
	width: 16%;
}

#DHP-J-05 {
	top: 56%;
	left: 21%;
	height: 44%;
	width: 13%;
	border-radius: 65% 0 0;
}

#DHP-J-06 {
	top: 40%;
	left: 36%;
	height: 60%;
	width: 13%;
}

#DHP-J-07 {
	top: 40%;
	left: 58%;
	height: 51%;
	width: 15%;
}

#DHP-J-08 {
	top: 54%;
	left: 66%;
	height: 45%;
	width: 13%;
	border-radius: 50% 50% 0 0;
}
