html,
body {
	height: 100%;
}

.bd {
	transition: translate3d 5s;
}

.text {
	background-size: 100% 100%;
}

/* 1 */

#DHR-pic_1 {
	position: absolute;
	top: 8%;
	left: 0%;
	width: 60%;
	height: 71%;
}

#DHR-pic_2 {
	position: absolute;
	top: 25%;
	left: 59%;
	width: 30%;
	height: 45%;
}

#DHR-A-01 {
	position: absolute;
	top: 0%;
	left: 15%;
	width: 10%;
	height: 19%;
}

#DHR-A-02 {
	position: absolute;
	top: 40%;
	left: 45%;
	width: 9%;
	height: 12%;
	border-radius: 50%;
}

/* 2 */

#DHR-pic_B1 {
	position: absolute;
	top: 32%;
	left: 40%;
	width: 25%;
	height: 45%;
}

#DHR-pic_B2 {
	position: absolute;
	top: 5%;
	left: 16%;
	width: 24%;
	height: 64%;
}

#DHR-B-01 {
	position: absolute;
	top: 40%;
	left: 6%;
	width: 8%;
	height: 12%;
	border-radius: 50%;
}

#DHR-B-02 {
	position: absolute;
	top: 46%;
	left: 58%;
	width: 7%;
	height: 7%;
}

#DHR-B-03 {
	position: absolute;
	top: 57%;
	left: 62%;
	width: 14%;
	height: 12%;
}

#DHR-B-04 {
	position: absolute;
	top: 20%;
	left: 73%;
	width: 6%;
	height: 18%;
}

#DHR-B-05 {
	position: absolute;
	top: 0%;
	left: 80%;
	width: 16%;
	height: 20%;
}

/* 3 */

#DHR-pic_C1 {
	position: absolute;
	top: 5%;
	left: 13.8%;
	width: 31%;
	height: 78.4%;
}

#DHR-pic_C2 {
	position: absolute;
	top: 27%;
	left: 51%;
	width: 41%;
	height: 56.4%;
}

#DHR-C-01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 17%;
	height: 32%;
}

/* 4 */

#DHR-pic_D1 {
	position: absolute;
	top: 15%;
	left: 0%;
	width: 70%;
	height: 68%;
}

#DHR-pic_D2 {
	position: absolute;
	top: 30%;
	left: 68%;
	width: 32%;
	height: 54.5%;
}

#DHR-pic_D3 {
	position: absolute;
	top: 7%;
	left: 47%;
	width: 25%;
	height: 76%;
}

#DHR-D-01 {
	position: absolute;
	top: 0;
	left: 25%;
	width: 9%;
	height: 19%;
}

#DHR-D-02 {
	position: absolute;
	top: 22%;
	left: 37%;
	width: 7%;
	height: 28%;
}

/* 5 */

#DHR-pic_E2 {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 71%;
	height: 70%;
}

#DHR-pic_E3 {
	position: absolute;
	top: 0;
	left: 57%;
	width: 30%;
	height: 64%;
}

#DHR-E-01 {
	position: absolute;
	top: 58%;
	left: 4%;
	width: 17%;
	height: 22%;
}

#DHR-E-02 {
	position: absolute;
	top: 14%;
	left: 9%;
	width: 13%;
	height: 24%;
}

#DHR-E-03 {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 13%;
	height: 23%;
}

#DHR-E-04 {
	position: absolute;
	top: 48%;
	left: 46%;
	width: 8%;
	height: 12%;
}

#DHR-E-05 {
	position: absolute;
	top: 32%;
	left: 66%;
	width: 10%;
	height: 27%;
}

#DHR-E-06 {
	position: absolute;
	top: 23%;
	left: 89%;
	width: 6%;
	height: 17%;
}

/* 6 */

#DHR-pic_F1 {
	position: absolute;
	top: 0%;
	left: 11%;
	width: 25%;
	height: 68%;
}

#DHR-pic_F2 {
	position: absolute;
	top: 22%;
	left: 52%;
	width: 36%;
	height: 38%;
}

#DHR-pic_F3 {
	position: absolute;
	top: 10%;
	left: 34%;
	width: 12%;
	height: 44%;
}

#DHR-F-01 {
	position: absolute;
	top: 24%;
	left: 4%;
	width: 10%;
	height: 14%;
}

/* 7 */

#DHR-pic_G1 {
	position: absolute;
	top: 30%;
	left: 11%;
	width: 34%;
	height: 53%;
}

#DHR-pic_G2 {
	position: absolute;
	top: 3%;
	left: 63%;
	width: 28%;
	height: 80%;
}

#DHR-pic_G3 {
	position: absolute;
	top: 13%;
	left: 55%;
	width: 18%;
	height: 54%;
}

#DHR-G-01 {
	position: absolute;
	top: 70%;
	left: 11%;
	width: 10%;
	height: 12%;
}

#DHR-G-02 {
	position: absolute;
	top: 26%;
	left: 33%;
	width: 10%;
	height: 24%;
}

#DHR-G-03 {
	position: absolute;
	top: 40%;
	left: 65%;
	width: 13%;
	height: 32%
}

/* 8 */

#DHR-pic_H1 {
	position: absolute;
	top: 44%;
	left: 43.6%;
	width: 35%;
	height: 39%;
}

#DHR-pic_H2 {
	position: absolute;
	top: 12%;
	left: 0%;
	width: 28%;
	height: 71%;
}

#DHR-pic_H3 {
	position: absolute;
	top: 6%;
	left: 27%;
	width: 20%;
	height: 50%;
}

#DHR-pic_H4 {
	position: absolute;
	top: 12%;
	left: 73%;
	width: 22%;
	height: 48%;
}

/* 9 */

#DHR-pic_I1 {
	position: absolute;
	top: 3%;
	left: 44%;
	width: 45%;
	height: 80%;
}

#DHR-pic_I2 {
	position: absolute;
	top: 19%;
	left: 5%;
	width: 27%;
	height: 50%;
}

#DHR-I-01 {
	position: absolute;
	top: 42%;
	left: 19%;
	width: 13%;
	height: 27%;
}

#DHR-I-02 {
	position: absolute;
	top: 36%;
	left: 66%;
	width: 23%;
	height: 47%;
}

#DHR-I-03 {
	position: absolute;
	top: 0%;
	left: 93%;
	width: 7%;
	height: 26%;
}

/* 底部样式 */

.DHR-but {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 17%;
}

#DHR-pic_but_K1,
#DHR-pic_but_J1,
#DHR-pic_but_I1,
#DHR-pic_but_H1,
#DHR-pic_but_G1,
#DHR-pic_but_F1,
#DHR-pic_but_E1,
#DHR-pic_but_D1,
#DHR-pic_but_C1,
#DHR-pic_but_B1,
#DHR-pic_but_1 {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	width: 40%;
	max-height: 100%;
}

#DHR-pic_but_K2,
#DHR-pic_but_J2,
#DHR-pic_but_I2,
#DHR-pic_but_H2,
#DHR-pic_but_G2,
#DHR-pic_but_F2,
#DHR-pic_but_E2,
#DHR-pic_but_D2,
#DHR-pic_but_C2,
#DHR-pic_but_B2,
#DHR-pic_but_2 {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	width: 30%;
	max-height: 100%;
}

#DHR-pic_but_2 {
	width: 15%;
}

#DHR-pic_but_I1,
#DHR-pic_but_G1 {
	width: 35%;
}
