html,
body {
	height: 100%;
}

.bd {
	transition: translate3d 5s;
}

.text {
	background-size: 100% 100%
}

.Y-DHR-pic_1 {
	position: absolute;
	top: 18%;
	left: 69%;
	width: 25%;
	height: 55%;
}

.Y-DHR-pic_2 {
	position: absolute;
	top: 46%;
	left: 0%;
	width: 15%;
	height: 35%;
}

#bamboo_1 {
	position: absolute;
	top: 38%;
	left: 18%;
	width: 16%;
	height: 33%;
}

#bamboo_2 {
	position: absolute;
	top: 42%;
	left: 40%;
	width: 29%;
	height: 40%;
}

/* 2 */

.Y-DHR-pic_B1 {
	position: absolute;
	top: 18%;
	left: 35%;
	width: 8%;
	height: 15%;
}

.Y-DHR-pic_B2 {
	position: absolute;
	top: 19%;
	left: 60%;
	width: 32%;
	height: 62%;
}

/* 3 */

.Y-DHR-pic_C1 {
	position: absolute;
	top: 18%;
	left: 44%;
	width: 24%;
	height: 10%;
}

#Y-DHR-pic_C1_01 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 42%;
	height: 82%;
}

.Y-DHR-pic_C2 {
	position: absolute;
	top: 12%;
	left: 78%;
	width: 12%;
	height: 30%;
}


/* 4 */

.Y-DHR-pic_D1 {
	position: absolute;
	top: 26%;
	left: 25%;
	width: 20%;
	height: 40%;
}

.Y-DHR-pic_D2 {
	position: absolute;
	top: 25%;
	left: 56%;
	width: 18%;
	height: 45%;
}

#Y-DHR-pic_D_mu_1 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 20%;
	height: 45%;
}

#Y-DHR-pic_D_mu_2 {
	position: absolute;
	top: 46%;
	left: 2%;
	width: 5.5%;
	height: 8%;
}

#Y-DHR-pic_D_mu_3 {
	position: absolute;
	top: 50%;
	left: 8%;
	width: 6%;
	height: 8%;
}

#Y-DHR-pic_D_mu_4 {
	position: absolute;
	top: 61%;
	left: 17%;
	width: 6%;
	height: 9%;
}

#Y-DHR-pic_D_mu_5 {
	position: absolute;
	top: 54%;
	left: 24%;
	width: 6%;
	height: 7%;
}

#Y-DHR-pic_D_mu_6 {
	position: absolute;
	top: 62%;
	left: 0%;
	width: 10%;
	height: 20%;
}

#Y-DHR-pic_D_mu_7 {
	position: absolute;
	top: 67%;
	left: 10%;
	width: 7%;
	height: 15%;
}


#Y-DHR-pic_D_mu_8 {
	position: absolute;
	top: 67%;
	left: 84%;
	width: 11%;
	height: 16%;
}

/* 5 */

.Y-DHR-pic_E1 {
	position: absolute;
	top: 9%;
	left: 15%;
	width: 40%;
	height: 60%;
}

#Y-DHR-pic_E_end {
	position: absolute;
	top: 52%;
	left: 0%;
	width: 53%;
	height: 30%;
}

.Y-DHR-pic_E2 {
	position: absolute;
	top: 24%;
	left: 62%;
	width: 17%;
	height: 44%;
}

/* 6 */

.Y-DHR-pic_F1 {
	position: absolute;
	top: 17%;
	left: 52%;
	width: 33%;
	height: 66%;
}

#Y-DHR-pic_F_end {
	position: absolute;
	top: 71%;
	left: 20%;
	width: 79%;
	height: 12%;
}

.Y-DHR-pic_F2 {
	position: absolute;
	top: 24%;
	left: 0%;
	width: 43%;
	height: 37%;
}

/* 7 */

.Y-DHR-pic_G1,
.Y-DHR-pic_G1_1 {
	position: absolute;
	top: 9%;
	left: 29%;
	width: 16%;
	height: 30%;
}

.Y-DHR-pic_G2 {
	position: absolute;
	top: 18%;
	left: 36%;
	width: 48%;
	height: 61%;
}

.Y-DHR-pic_G1_2 {
	position: absolute;
    top: 25%;
    left: 87%;
    width: 13%;
    height: 33%;
}

/* 8 */

.Y-DHR-pic_H1 {
	position: absolute;
	top: 36%;
	left: 13%;
	width: 15%;
	height: 36%;
}

.Y-DHR-pic_H2 {
	position: absolute;
	top: 50%;
	left: 33%;
	width: 15%;
	height: 24%;
}

#Y-DHR-pic_H_duke {
	position: absolute;
	top: 69%;
	left: 9%;
	width: 12%;
	height: 11%;
}

/* 9 */

.Y-DHR-pic_I1 {
	position: absolute;
	top: 42%;
	left: 66%;
	width: 15%;
	height: 36%;
}

.Y-DHR-pic_I2 {
	position: absolute;
	top: 8%;
	left: 63%;
	width: 32%;
	height: 77%;
}

.Y-DHR-pic_I3 {
	position: absolute;
	top: 33%;
	left: 52%;
	width: 16%;
	height: 30%;
}

#Y-DHR-pic_but_I_a {
	position: absolute;
	top: 43%;
	left: 30%;
	width: 13%;
	height: 11%;
}

#Y-DHR-pic_but_I_b {
	position: absolute;
	top: 63%;
	left: 47%;
	width: 12%;
	height: 11%;
}

#Y-DHR-pic_but_I_c {
	position: absolute;
	top: 69%;
	left: 92%;
	width: 8%;
	height: 11%;
}

/* 10 */

.Y-DHR-pic_J1 {
	position: absolute;
	top: 20%;
	left: 8.5%;
	width: 16%;
	height: 24%;
}

.Y-DHR-pic_J2 {
	position: absolute;
	top: 12%;
	left: 14%;
	width: 14%;
	height: 20%;
}

.Y-DHR-pic_J3 {
	position: absolute;
	top: 3%;
	left: 11%;
	width: 10%;
	height: 8%
}

.Y-DHR-pic_J4 {
	position: absolute;
	top: 18%;
	left: 23%;
	width: 32%;
	height: 42%;
}

.Y-DHR-pic_J5 {
	position: absolute;
	top: 18%;
	left: 63.8%;
	width: 4%;
	height: 7%;
}

.Y-DHR-pic_J5_1 {
	position: absolute;
	top: 7%;
	left: 57.8%;
	width: 9%;
	height: 18%;
}

.Y-DHR-pic_J6 {
	position: absolute;
	top: 24%;
	left: 61%;
	width: 20%;
	height: 22%;
}

.Y-DHR-pic_J7 {
	position: absolute;
	top: 41%;
	left: 34%;
	width: 50%;
	height: 42%;
}

.Y-DHR-pic_J8 {
	position: absolute;
	top: 28%;
	left: 80.4%;
	width: 12.5%;
	height: 30.6%;
}



.Y-DHR-pic_J1 img,
.Y-DHR-pic_J2 img,
.Y-DHR-pic_J3 img,
.Y-DHR-pic_J4 img,
.Y-DHR-pic_J5 img,
.Y-DHR-pic_J6 img,
.Y-DHR-pic_J7 img,
.Y-DHR-pic_J8 img,
.Y-DHR-pic_I1 img,
.Y-DHR-pic_I2 img,
.Y-DHR-pic_I3 img,
.Y-DHR-pic_H1 img,
.Y-DHR-pic_H2 img,
.Y-DHR-pic_G1 img,
.Y-DHR-pic_G2 img,
.Y-DHR-pic_F1 img,
.Y-DHR-pic_F2 img,
.Y-DHR-pic_E1 img,
.Y-DHR-pic_E2 img,
.Y-DHR-pic_D1 img,
.Y-DHR-pic_D2 img,
.Y-DHR-pic_C1 img,
.Y-DHR-pic_C2 img,
.Y-DHR-pic_B1 img,
.Y-DHR-pic_B2 img,
.Y-DHR-pic_1 img,
.Y-DHR-pic_2 img {
	width: 100%;
	height: 100%;
}



/* 底部样式 */

.Y-DHR-pic_but_J1,
.Y-DHR-pic_but_J2,
.Y-DHR-pic_but_I1,
.Y-DHR-pic_but_I2,
.Y-DHR-pic_but_H1,
.Y-DHR-pic_but_H2,
.Y-DHR-pic_but_G1,
.Y-DHR-pic_but_G2,
.Y-DHR-pic_but_F1,
.Y-DHR-pic_but_F2,
.Y-DHR-pic_but_E1,
.Y-DHR-pic_but_E2,
.Y-DHR-pic_but_D1,
.Y-DHR-pic_but_D2,
.Y-DHR-pic_but_C1,
.Y-DHR-pic_but_C2,
.Y-DHR-pic_but_B1,
.Y-DHR-pic_but_B2,
.Y-DHR-pic_but {
	position: absolute;
	bottom: 0;
	height: 15%;
	width: 50%;
}

.Y-DHR-pic_but {
	width: 100%;
}

.Y-DHR-pic_but_J1,
.Y-DHR-pic_but_I1,
.Y-DHR-pic_but_H1,
.Y-DHR-pic_but_G1,
.Y-DHR-pic_but_F1,
.Y-DHR-pic_but_E1,
.Y-DHR-pic_but_D1,
.Y-DHR-pic_but_C1,
.Y-DHR-pic_but_B1 {
	left: 0;
}

.Y-DHR-pic_but_J2,
.Y-DHR-pic_but_I2,
.Y-DHR-pic_but_H2,
.Y-DHR-pic_but_G2,
.Y-DHR-pic_but_F2,
.Y-DHR-pic_but_E2,
.Y-DHR-pic_but_D2,
.Y-DHR-pic_but_C2,
.Y-DHR-pic_but_B2 {
	right: 0;
}

.Y-DHR-pic_but_J1 img,
.Y-DHR-pic_but_J2 img,
.Y-DHR-pic_but_I1 img,
.Y-DHR-pic_but_I2 img,
.Y-DHR-pic_but_H1 img,
.Y-DHR-pic_but_H2 img,
.Y-DHR-pic_but_G1 img,
.Y-DHR-pic_but_G2 img,
.Y-DHR-pic_but_F1 img,
.Y-DHR-pic_but_F2 img,
.Y-DHR-pic_but_E1 img,
.Y-DHR-pic_but_E2 img,
.Y-DHR-pic_but_D1 img,
.Y-DHR-pic_but_D2 img,
.Y-DHR-pic_but_C1 img,
.Y-DHR-pic_but_C2 img,
.Y-DHR-pic_but_B1 img,
.Y-DHR-pic_but_B2 img,
.Y-DHR-pic_but img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
}

.Y-DHR-pic_but_J1 img,
.Y-DHR-pic_but_H1 img,
.Y-DHR-pic_but_I2 img,
.Y-DHR-pic_but_H2 img,
.Y-DHR-pic_but_G2 img,
.Y-DHR-pic_but_F2 img,
.Y-DHR-pic_but_E2 img,
.Y-DHR-pic_but_D2 img,
.Y-DHR-pic_but_C2 img,
.Y-DHR-pic_but img {
	width: 60%;
}

.Y-DHR-pic_but_E1 img,
.Y-DHR-pic_but_F1 img,
.Y-DHR-pic_but_B2 img {
	width: 80%;
}

.Y-DHR-pic_but_B1 img {
	width: 40%;
}

.Y-DHR-pic_but_I1 img,
.Y-DHR-pic_but_G1 img {
	width: 55%;
}

.Y-DHR-pic_but_J2 img {
	width: 70%;
}
