html,
body {
	height: 100%;
}

#bd12 .text {
	background-size: 100% 100%;
}

.bd {
	transition: translate3d 5s;
}

.bd-DHR img,
.bd-DHR div {
	position: absolute;
}

#d10380 {
	width: 18.75rem;
	height: 5rem;
	left: 15.625rem;
	top: 1.875rem;
}

#d10381 {
	width: 6.25rem;
	height: 3.75rem;
	left: 6.25rem;
	top: 3.125rem;
}

#d10382 {
	width: 6.25rem;
	height: 6.25rem;
	left: 2.5rem;
	top: 6.25rem;
}

#d10383 {
	width: 7.8rem;
	height: 6.25rem;
	right: 6.25rem;
	bottom: 2rem;
}

#d10384 {
	width: 5rem;
	height: 6.25rem;
	right: 4.5rem;
	bottom: 9rem;
}

#d10385 {
	width: 2rem;
	height: 6.25rem;
	right: 1.875rem;
	bottom: 9rem;
}

#d10388 {
	width: 15.625rem;
	height: 5rem;
	top: 3.125rem;
	left: 1.875rem;
}

#d10389 {
	width: 4.125rem;
	height: 2.875rem;
	top: 9.375rem;
	left: 8.8rem;
	z-index: 1;
}

#d10390 {
	width: 8.125rem;
	height: 8.125rem;
	top: 9.375rem;
	left: 2.5rem;
}

#d10391 {
	width: 8.125rem;
	height: 7.9rem;
	top: 0;
	right: 6.5rem;
}

#d10392 {
	width: 7rem;
	height: 3rem;
	top: 12.5rem;
	z-index: 1;
	right: 9rem;
}

#d10393 {
	width: 9rem;
	height: 10rem;
	top: 7.5rem;
	right: 4rem;
}

#d10394 {
	width: 1.875rem;
	height: 1.875rem;
	top: 8.8rem;
	right: 1.5rem;
}

#d10397 {
	width: 15.625rem;
	height: 3.75rem;
	top: 1.875rem;
	left: 6.25rem;
}

#d10398 {
	width: 6rem;
	height: 12.5rem;
	top: 6.25rem;
	left: 0rem;
}

#d10399 {
	width: 2.5rem;
	height: 2.5rem;
	top: 9.25rem;
	left: 10.625rem;
}

#d10399 {
	width: 2.5rem;
	height: 2.5rem;
	top: 9.25rem;
	left: 10.625rem;
}

#d10400 {
	width: 2.5rem;
	height: 2.5rem;
	top: 14rem;
	left: 8rem;
}


#d10402 {
	width: 4.375rem;
	height: 5rem;
	top: 12rem;
	left: 11rem;
}

#d10403 {
	width: 2.5rem;
	height: 2.5rem;
	top: 3rem;
	right: 14rem;
}

#d10404 {
	width: 2.5rem;
	height: 2.5rem;
	top: 3rem;
	right: 11rem;
}

#d10405 {
	width: 2.5rem;
	height: 8rem;
	bottom: 3rem;
	right: 6rem;
}

#d10406 {
	width: 2.5rem;
	height: 8rem;
	bottom: 3rem;
	right: 3rem;
}

#d10409 {
	width: 15.625rem;
	height: 5.3125rem;
	right: 3.125rem;
	top: 3.125rem;
}


#d10410 {
	width: 4.0625rem;
	height: 8.125rem;
	left: 5rem;
	top: 5rem;
}

#d10411 {
	width: 4.0625rem;
	height: 8.125rem;
	left: 9rem;
	top: 5rem;
}

#d10412 {
	width: 6rem;
	height: 9.125rem;
	right: 11rem;
	bottom: 4rem;
}

#d10415 {
	width: 6rem;
	height: 9.125rem;
	right: 4rem;
	bottom: 4.5rem;
}

#d10413 {
	width: 4.5rem;
	height: 1.8rem;
	right: 6rem;
	bottom: 2.5rem;
}


#d10414 {
	width: 1.3rem;
	height: 1.8rem;
	right: 10.8rem;
	bottom: 2rem;
}

#d10418 {
	width: 18.75rem;
	height: 5.625rem;
	right: 1.875rem;
	top: 3.125rem;
}

#d10419 {
	width: 3.75rem;
	height: 9.375rem;
	left: 5rem;
	top: 9rem;
}

#d10420 {
	width: 3.75rem;
	height: 9.375rem;
	left: 10rem;
	bottom: 2rem;
}

#d10421 {
	width: 3.75rem;
	height: 6.375rem;
	left: 19rem;
	bottom: 2rem;
}

#d10422 {
	width: 4.8rem;
	height: 6.375rem;
	left: 27rem;
	bottom: 2rem;
}

#d10423 {
	width: 6rem;
	height: 10rem;
	right: 2rem;
	bottom: 2rem;
}

#d10426 {
	width: 9.375rem;
	height: 3.7rem;
	top: 3.125rem;
	left: 3.125rem;
}

#d10427 {
	width: 2.5rem;
	height: 2.5rem;
	bottom: 5.125rem;
	left: 3.125rem;
}

#d10428 {
	width: 4rem;
	height: 4rem;
	bottom: 0.625rem;
	left: 5.825rem;
}

#d10429 {
	width: 6rem;
	height: 6rem;
	bottom: 8rem;
	left: 8.5rem;
}

#d10430 {
	width: 2rem;
	height: 3rem;
	top: 4.2rem;
	left: 15.8rem;
}

#d10431 {
	width: 2rem;
	height: 2rem;
	top: 4.2rem;
	left: 18rem;
}

#d10432 {
	width: 1em;
	height: 1rem;
	top: 8rem;
	left: 16.2rem;
}

#d10433 {
	width: 1.5em;
	height: 2rem;
	top: 7.5rem;
	left: 17.3rem;
}

#d10434 {
	width: 1.5em;
	height: 2rem;
	top: 6.5rem;
	left: 18.8rem;
}

#d10435 {
	width: 1.5em;
	height: 1.5rem;
	top: 9.5rem;
	left: 16.8rem;
}

#d10436 {
	width: 1.5em;
	height: 1.5rem;
	top: 10.8rem;
	left: 16.3rem;
}

#d10437 {
	width: 2em;
	height: 2.5rem;
	top: 10rem;
	left: 18.3rem;
}

#d10438 {
	width: 3.125rem;
	height: 6.25rem;
	top: 4rem;
	right: 10.8rem;
}

#d10439 {
	width: 3.125rem;
	height: 2.25rem;
	top: 7.5rem;
	z-index: 1;
	right: 10.8rem;
}

#d10440 {
	width: 3.125rem;
	height: 2.25rem;
	top: 9.5rem;
	right: 6.3rem;
}

#d10441 {
	width: 3.125rem;
	height: 2.8rem;
	top: 9.5rem;
	right: 3rem;
}

#d10442 {
	width: 3.125rem;
	height: 2.3rem;
	top: 15rem;
	right: 11.5rem;
}

#d10443 {
	width: 3.125rem;
	height: 2.3rem;
	bottom: 3rem;
	right: 10.3rem;
}

#d10444 {
	width: 3.125rem;
	height: 2.3rem;
	bottom: 8rem;
	right: 10.3rem;
}

#d10445 {
	width: 4.125rem;
	height: 3.5rem;
	bottom: 4rem;
	z-index: 1;
	right: 7.3rem;
}

#d10446 {
	width: 4.125rem;
	height: 5rem;
	bottom: 4rem;
	right: 4.3rem;
}

#d10449 {
	width: 15.625rem;
	height: 5rem;
	top: 2.5rem;
	left: 3.125rem;
}


#d10450 {
	width: 8.75rem;
	height: 7rem;
	top: 8.125rem;
	left: 4rem;
}

#d10451 {
	width: 6.5rem;
	height: 3.5rem;
	bottom: 4rem;
	left: 6rem;
}

#d10452 {
	width: 6.5rem;
	height: 3.5rem;
	bottom: 8rem;
	right: 8rem;
}

#d10453 {
	width: 4.5rem;
	height: 18rem;
	bottom: 0rem;
	right: 3rem;
}

#d10456 {
	width: 27rem;
	height: 3.75rem;
	left: 6.25rem;
	top: 1.25rem;
}

#d10457 {
	width: 2rem;
	height: 2.5rem;
	left: 1rem;
	bottom: 4.25rem;
}

#d10458 {
	width: 5rem;
	height: 5rem;
	left: 2.5rem;
	bottom: 0rem;
}

#d10459 {
	width: 5rem;
	height: 6rem;
	left: 6rem;
	bottom: 8rem;
}

#d10460 {
	width: 3rem;
	height: 3rem;
	left: 10rem;
	bottom: 5rem;
}

#d10461 {
	width: 5rem;
	height: 5rem;
	right: 9rem;
	top: 6rem;
}

#d10462 {
	width: 5rem;
	height: 15rem;
	right: 2rem;
	top: 6rem;
}

#d10465 {
	width: 31.25rem;
	left: 4rem;
	top: 1.25rem;
}

#d10466 {
	width: 6.25rem;
	height: 9.375rem;
	left: 1rem;
	top: 6rem;
}

#d10467 {
	width: 1.3rem;
	height: 2rem;
	left: 14rem;
	top: 10rem;
}

#d10468 {
	width: 1rem;
	height: 2rem;
	left: 15.5rem;
	top: 11.8rem;
}

#d10469 {
	width: 1rem;
	height: 2rem;
	left: 16.5rem;
	top: 10.2rem;
}

#d10470 {
	width: 4rem;
	height: 5rem;
	right: 12rem;
	bottom: 3.5rem;
	z-index: 1;
}

#d10471 {
	width: 6rem;
	height: 14rem;
	right: 9.5rem;
	bottom: 0;
}

#d10472 {
	width: 8rem;
	height: 2rem;
	right: 2rem;
	bottom: 15rem;
}

#d10473 {
	width: 6rem;
	height: 6rem;
	right: 2rem;
	bottom: 8rem;
}

#d10476 {
	width: 16rem;
	height: 5.5rem;
	right: 9rem;
	bottom: 10rem;
}

#d10477 {
	width: 5.25rem;
	height: 8.5rem;
	left: 8rem;
	bottom: 10rem;
}

#d10478 {
	width: 5.25rem;
	height: 8.5rem;
	right: 6rem;
	z-index: 1;
	bottom: 0rem;
}

#d10479 {
	width: 8.25rem;
	height: 16.5rem;
	right: 0rem;
	bottom: 2rem;
}
